<ng-container *ngIf="recipe">
    <h2>
        <span>{{ recipe.name }}</span>
        <mat-icon
            class="visibility"
            [matTooltip]="(recipe.public ? 'recipe.public' : 'recipe.private') | translate"
            [matTooltipShowDelay]="500"
            [inline]="true"
        >
            {{ recipe.public ? 'public' : 'lock' }}
        </mat-icon>
    </h2>
    <span class="author">{{ 'recipe.by' | translate }} {{ recipe.user.name }}</span>

    <div class="information">
        <mat-chip-list>
            <a
                mat-chip
                [routerLink]="categoryURL"
                *ngIf="recipe.category"
                [matTooltip]="'recipe.category' | translate"
                [matTooltipShowDelay]="500"
            >
                <mat-icon>menu_book</mat-icon> <span>{{ recipe.category }}</span>
            </a>
            <mat-chip
                [disabled]="true"
                *ngIf="totalTime as time"
                matTooltip="{{ 'recipe.total_time' | translate }}"
                [matTooltipShowDelay]="500"
            >
                <mat-icon>timer</mat-icon> <span>{{ time.key | translate: time.replacements }}</span>
            </mat-chip>
            <mat-chip
                [disabled]="true"
                *ngIf="recipe.difficulty !== null"
                [matTooltip]="'recipe.difficulty' | translate"
                [matTooltipShowDelay]="500"
                class="difficulty"
            >
                <mat-icon *ngFor="let i of [0, 1, 2, 3, 4]" [class.disabled]="recipe.difficulty < i">
                    whatshot
                </mat-icon>
            </mat-chip>
            <mat-chip
                [disabled]="true"
                [matTooltip]="'language' | translate"
                [matTooltipShowDelay]="500"
                *ngIf="translation.getLanguageInformation(recipe.languageCode) as language"
            >
                <mat-icon>language</mat-icon> <span>{{ language.name }}</span>
            </mat-chip>
            <mat-chip [disabled]="true" [matTooltip]="'recipe.publish_date' | translate" [matTooltipShowDelay]="500">
                <mat-icon>today</mat-icon> <span>{{ recipe.publishDate * 1000 | localizedDate: true }}</span>
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="actions">
        <button mat-mini-fab [matMenuTriggerFor]="shareMenu" color="red" *ngIf="!hasShareApi">
            <mat-icon>share</mat-icon>
        </button>
        <button mat-mini-fab (click)="doShare()" color="red" *ngIf="hasShareApi">
            <mat-icon>share</mat-icon>
        </button>
        <button mat-mini-fab (click)="doPrint()" color="red"><mat-icon>print</mat-icon></button>

        <a
            routerLink="/recipes/edit/{{ recipe.id }}"
            mat-raised-button
            color="accent"
            class="edit-button"
            *ngIf="canEdit"
        >
            <mat-icon>edit</mat-icon> {{ 'pages.edit_recipe.title' | translate }}
        </a>
    </div>

    <cb-recipe-image-slider
        [recipe]="recipe"
        class="image-slider"
        *ngIf="recipe.imagesCount > 0"
    ></cb-recipe-image-slider>

    <div class="ingredients" *ngIf="recipe.ingredients.length > 0">
        <h3>
            <span>{{ 'pages.recipe.ingredients_for' | translate }}</span>
            <input type="number" min="1" [value]="selectedPortions" (input)="setSelectedPortions($event)" />
            <span>{{ 'recipe.portions' | translate }}</span>
        </h3>

        <table>
            <tbody>
                <tr *ngFor="let ingredient of recipe.ingredients">
                    <td>
                        <ng-container *ngIf="ingredient.amount">
                            {{ getCalculateIngredientAmount(ingredient.amount) | amount }}
                        </ng-container>
                        {{ ingredient.unit }}
                    </td>
                    <td>{{ ingredient.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="description" *ngIf="recipe.description">
        <h3>{{ 'recipe.description' | translate }}</h3>
        <p>{{ recipe.description }}</p>
    </div>

    <div class="preparation" *ngIf="recipe.preparation">
        <h3>{{ 'recipe.preparation' | translate }}</h3>
        <mat-chip-list *ngIf="recipe.preparationTime || recipe.cookTime">
            <mat-chip [disabled]="true" *ngIf="recipe.preparationTime">
                <mat-icon>timer</mat-icon>
                <span>
                    {{ 'recipe.preparation_time' | translate }} ~{{ recipe.preparationTime }}
                    {{ 'min.' | translate }}
                </span>
            </mat-chip>
            <mat-chip [disabled]="true" *ngIf="recipe.restTime">
                <mat-icon>timer</mat-icon>
                <span>{{ 'recipe.rest_time' | translate }} ~{{ recipe.restTime }} {{ 'min.' | translate }}</span>
            </mat-chip>
            <mat-chip [disabled]="true" *ngIf="recipe.cookTime">
                <mat-icon>timer</mat-icon>
                <span>{{ 'recipe.cook_time' | translate }} ~{{ recipe.cookTime }} {{ 'min.' | translate }}</span>
            </mat-chip>
        </mat-chip-list>

        <div [innerHTML]="recipe.preparation"></div>
    </div>
</ng-container>

<cb-skeleton-page-recipe *ngIf="!recipe && !error"></cb-skeleton-page-recipe>

<mat-menu #shareMenu="matMenu">
    <button mat-menu-item (click)="copyLink()">
        <mat-icon class="fg-accent">link</mat-icon> {{ 'pages.recipe.share.copy_link' | translate }}
    </button>
    <a mat-menu-item [href]="shareEmailLink" target="_blank" rel="noopener">
        <mat-icon class="fg-accent">email</mat-icon> {{ 'email' | translate }}
    </a>
    <a mat-menu-item [href]="shareWhatsAppLink" target="_blank" rel="noopener">
        <mat-icon svgIcon="whatsapp" class="fg-whatsapp"></mat-icon> WhatsApp
    </a>
    <a mat-menu-item [href]="shareTelegramLink" target="_blank" rel="noopener">
        <mat-icon svgIcon="telegram" class="fg-telegram"></mat-icon> Telegram
    </a>
</mat-menu>

<span class="icon-text fg-warn" *ngIf="error">
    <mat-icon>error</mat-icon><span>{{ 'messages.recipes.error_loading_recipe' | translate }}</span>
</span>
