<a
    class="container"
    [class.can-edit]="canEdit"
    [class.disabled]="disabled"
    [class.compact]="compact"
    [class.grid]="grid"
    *ngIf="recipe !== null"
    [routerLink]="recipeURL"
>
    <div class="img-container">
        <cb-image [src]="thumbnail" [alt]="recipe.name + '\'s image'"></cb-image>
    </div>

    <div class="content">
        <h3 class="name">
            <span>{{ recipe.name }}</span>
            <mat-icon
                class="visibility"
                [matTooltip]="(recipe.public ? 'recipe.public' : 'recipe.private') | translate"
                [matTooltipShowDelay]="500"
                [inline]="true"
                >{{ recipe.public ? 'public' : 'lock' }}</mat-icon
            >
        </h3>
        <span class="author">
            {{ 'recipe.by' | translate }}
            <strong *ngIf="isOwner">{{ 'recipe.you' | translate }}</strong>
            <ng-container *ngIf="!isOwner">{{ recipe.user.name }}</ng-container>
        </span>
        <span class="description" *ngIf="recipe.description">{{ recipe.description }}</span>

        <cb-recipe-tags [recipe]="recipe" [compact]="true" class="information"></cb-recipe-tags>
    </div>

    <a routerLink="/recipes/edit/{{ recipe.id }}" mat-icon-button class="edit-recipe" *ngIf="canEdit">
        <mat-icon>edit</mat-icon>
    </a>
</a>
