<a
    class="container"
    [class.can-edit]="canEdit"
    [class.disabled]="disabled"
    [class.compact]="compact"
    *ngIf="recipe !== null"
    [routerLink]="recipeURL"
>
    <div class="img-container">
        <cb-image [src]="thumbnail" [alt]="recipe.name + '\'s image'"></cb-image>
    </div>

    <div class="content">
        <h3 class="name">
            <span>{{ recipe.name }}</span>
            <mat-icon
                class="visibility"
                [matTooltip]="recipe.public ? 'Public' : 'Private'"
                [matTooltipShowDelay]="500"
                [inline]="true"
                >{{ recipe.public ? 'public' : 'lock' }}</mat-icon
            >
        </h3>
        <span class="author">
            by
            <strong *ngIf="isOwner">You</strong>
            <ng-container *ngIf="!isOwner">{{ recipe.user.name }}</ng-container>
        </span>
        <span class="description" *ngIf="recipe.description">{{ recipe.description }}</span>
        <mat-chip-list class="information">
            <a
                mat-chip
                [routerLink]="categoryURL"
                *ngIf="recipe.category"
                matTooltip="Category"
                [matTooltipShowDelay]="500"
            >
                <mat-icon>menu_book</mat-icon> <span>{{ recipe.category }}</span>
            </a>
            <mat-chip [disabled]="true" *ngIf="totalTime" matTooltip="Total time" [matTooltipShowDelay]="500">
                <mat-icon>timer</mat-icon> <span>{{ totalTime }}</span>
            </mat-chip>
            <mat-chip [disabled]="true" *ngIf="recipe.portions" matTooltip="Portions" [matTooltipShowDelay]="500">
                <mat-icon>restaurant</mat-icon> <span>{{ recipe.portions }}</span>
            </mat-chip>
            <mat-chip
                [disabled]="true"
                *ngIf="recipe.difficulty !== null"
                matTooltip="Difficulty"
                [matTooltipShowDelay]="500"
                class="difficulty"
            >
                <mat-icon *ngFor="let i of [0, 1, 2, 3, 4]" [class.disabled]="recipe.difficulty < i">
                    whatshot
                </mat-icon>
            </mat-chip>
            <mat-chip [disabled]="true" matTooltip="Publish date" [matTooltipShowDelay]="500">
                <mat-icon>today</mat-icon> <span>{{ recipe.publishDate * 1000 | date }}</span>
            </mat-chip>
        </mat-chip-list>
    </div>

    <a routerLink="/recipes/edit/{{ recipe.id }}" mat-icon-button class="edit-recipe" *ngIf="canEdit">
        <mat-icon>edit</mat-icon>
    </a>
</a>
