<ng-container *ngIf="{ cookbook: cookbook$ | async, error: error$ | async } as vm">
    <app-cookbook-header
        [cookbook]="vm.cookbook?.body?.data || null"
        showBackButton
        *ngIf="!vm.error"
    ></app-cookbook-header>

    <app-error-display [error]="vm.error">
        <ng-template #notFoundMessage> {{ 'cookbooks.notFound' | transloco }} </ng-template>
        <ng-template #otherErrorMessage> {{ 'cookbooks.singleLoadingError' | transloco }} </ng-template>
    </app-error-display>

    <app-recipe-search
        [fetchRecipesFn]="fetchRecipesFn"
        [fetchCategoriesFn]="fetchCategoriesFn"
        [showAllFilter]="false"
    ></app-recipe-search>
</ng-container>
