<ng-container *ngIf="{ cookbook: cookbook$ | async, error: error$ | async } as vm">
    <app-cookbook-header
        [cookbook]="vm.cookbook?.body?.data || null"
        [showBackButton]="true"
        *ngIf="!vm.error"
    ></app-cookbook-header>

    <app-error-display [error]="vm.error">
        <ng-container notFoundMessage> {{ 'cookbooks.notFound' | transloco }} </ng-container>
        <ng-container otherErrorMessage> {{ 'cookbooks.singleLoadingError' | transloco }} </ng-container>
    </app-error-display>

    <app-recipe-search
        [fetchRecipesFn]="fetchRecipesFn"
        [fetchCategoriesFn]="fetchCategoriesFn"
        [showAllFilter]="false"
    ></app-recipe-search>
</ng-container>
