<ng-container *ngIf="categories | clampArray: clampAmount as categories">
    <a
        class="category-chip"
        *ngFor="let category of categories.items"
        [routerLink]="routerLink"
        [queryParams]="{ category }"
        color="primary"
        selected
        >{{ category }}
    </a>
    <span class="category-chip disabled" *ngIf="categories.overflowAmount > 0" (click)="revealMoreCategories()">
        +{{ categories.overflowAmount }}
    </span>

    <p *ngIf="categories.items.length === 0" class="not-found-item">No categories found ...</p>
</ng-container>

