@import 'variables.scss';

img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

mat-chip-list {
  mat-chip,
  a[mat-chip] {
    opacity: 1 !important;
    font-weight: normal;

    &:not(.difficulty) {
      mat-icon {
        font-size: 1.25em;
        line-height: 1.25em;
      }

      mat-icon,
      span {
        vertical-align: middle;
        display: inline;
      }
    }

    &.difficulty {
      mat-icon {
        font-size: 1.5em;
        line-height: 1.5em;
        height: 1.5em;
        &.disabled {
          opacity: 0.25;
        }
      }
    }
  }

  a[mat-chip] {
    text-decoration: none;
    cursor: pointer;
  }
}

.author,
.information,
.image-slider,
.ingredients,
.description,
.actions {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 0;

  mat-icon {
    cursor: pointer;
    margin-right: 0;
    margin-left: 0.5em;
  }
}

h3 {
  font-weight: 500 !important;
  font-size: 1.3em;
}

.author {
  display: block;
  opacity: 0.5;
}

.actions {
  :not(:last-child) {
    margin-right: 1em;
  }
}

.image-slider,
.ingredients {
  display: inline-block;
  vertical-align: top;
}

.image-slider {
  width: calc(60% - 1em);
  margin-right: 1em;
}

.ingredients {
  width: 40%;

  h3 {
    input {
      width: 3.5em;
      text-align: center;
      padding: 0.125em 0.25em;
      margin: 0 0.5em;

      background: transparent;
      border: 1px solid #{$foreground}50;
      border-radius: 0.25em;
      font-size: 1em;

      color: $foreground;
    }

    > * {
      vertical-align: middle;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tbody {
      tr {
        :nth-child(1) {
          text-align: right;

          border-radius: 5px 0 0 5px;

          width: 40%;
        }
        :nth-child(2) {
          text-align: left;
          border-radius: 0 5px 5px 0;
          width: 60%;
        }

        td {
          padding: 0.5em 0.25em;
        }
      }

      tr:nth-child(odd) > td {
        background: #{mat-color($primary)}30;
      }
    }
  }
}

.preparation {
  mat-chip-list {
    display: block;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 800px) {
  .image-slider,
  .ingredients {
    display: block;
    width: 100%;
  }
}

@media print {
  .actions {
    display: none;
  }

  .image-slider {
    &.fallback {
      display: none;
    }

    .preview {
      display: none;
    }
  }

  .ingredients h3 input {
    appearance: textfield;
    width: 1.5em;
    border: none;
    padding: 0;
  }
}
