<div class="image-container">
    <ngx-skeleton-loader appearance="circle" [theme]="{ height: '12em', width: '12em' }"></ngx-skeleton-loader>
</div>

<div class="content">
    <ngx-skeleton-loader class="name" [theme]="{ width: '16em' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="author" [theme]="{ width: '12em' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="description"></ngx-skeleton-loader>

    <div class="chips">
        <ngx-skeleton-loader [theme]="{ width: '8em', marginRight: '1em' }" [count]="4"></ngx-skeleton-loader>
    </div>
</div>
