@import 'variables.scss';

:host {
  display: block;

  border: 1px solid #{$foreground}10;
  border-radius: 0.75em;
  padding: 1em;

  .image-container {
    display: inline-block;
    width: 25%;
    min-width: 12em;
    margin-right: 1em;
    text-align: center;

    vertical-align: middle;

    cb-skeleton {
      height: 12em;
      width: 12em;

      margin: 0 auto;
    }

    &.compact cb-skeleton {
      height: 5em;
      width: 5em;
    }
  }

  .content {
    display: inline-block;
    width: calc(75% - 1em);

    vertical-align: middle;

    .name {
      margin-bottom: 0.5em;
      width: 16em;
    }

    .author {
      width: 12em;
    }

    .chips cb-skeleton {
      display: inline-block;
      width: 8em;
      margin-right: 1em;
      margin-bottom: 0;
    }

    &.compact .description {
      display: none;
    }
  }

  @media screen and (max-width: 820px) {
    .content {
      width: calc(75% - 2em);
    }
  }

  @media screen and (max-width: $mobile-width) {
    .image-container,
    .content {
      display: block;
      width: 100%;
    }

    .image-container {
      margin-right: 0;
      margin-bottom: 1em;

      > cb-skeleton {
        margin: 0 auto;
      }
    }
  }
}
