<div class="image-container" [class.compact]="compact">
    <cb-skeleton circle></cb-skeleton>
</div>

<div class="content" [class.compact]="compact">
    <cb-skeleton class="name"></cb-skeleton>
    <cb-skeleton class="author"></cb-skeleton>
    <cb-skeleton class="description"></cb-skeleton>

    <div class="chips">
        <cb-skeleton chip></cb-skeleton>
        <cb-skeleton chip></cb-skeleton>
        <cb-skeleton chip></cb-skeleton>
        <cb-skeleton chip></cb-skeleton>
    </div>
</div>
