@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme';
@use 'variables' as *;

.container {
  display: flex;
  align-items: center;
  gap: 0.75em;
  box-sizing: border-box;

  padding: 0.5em;

  border-radius: 0.25em;

  @include theme.apply() using ($variables) {
    border: 1px solid rgba(map.get($variables, 'foreground'), 0.38);

    &.disabled {
      border: 1px solid rgba(map.get($variables, 'foreground'), 0.06);

      .details {
        color: rgba(map.get($variables, 'foreground'), 0.38);
      }
    }

    &.has-error {
      border: 1px solid map.get($variables, 'warn');
    }
  }

  > mat-icon {
    font-size: 2em;
    height: fit-content;
    width: fit-content;
  }

  > * {
    min-width: 0;
  }

  .details {
    flex: 1;

    > * {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .email {
      opacity: 0.75;
      font-size: 0.9em;
    }
  }
}

.error {
  display: inline-block;

  font-size: 0.8em;
  line-height: 2rem;

  padding: 0 1rem;

  @include theme.apply() using ($variables) {
    color: map.get($variables, 'warn');
  }
}
