<ng-container *ngIf="{ user: auth.user$ | async } as vm">
    <mat-nav-list>
        <a mat-list-item routerLink="/recipes/create" (click)="close()">
            <mat-icon matListItemIcon>add</mat-icon>
            <div matListItemTitle>Create new recipe</div>
        </a>

        <a mat-list-item routerLink="/recipes/trash" (click)="close()">
            <mat-icon matListItemIcon>delete</mat-icon>
            <div matListItemTitle>View trash</div>
        </a>

        <mat-divider></mat-divider>

        <mat-list-item disabled *ngIf="vm.user as user">
            <mat-icon matListItemIcon>account_circle</mat-icon>
            <div matListItemTitle>{{ user.name }}</div>
            <div matListItemLine>{{ user.email }}</div>
        </mat-list-item>

        <a mat-list-item routerLink="/settings/account" (click)="close()">
            <mat-icon matListItemIcon>settings</mat-icon>
            <div matListItemTitle>Account settings</div>
        </a>

        <a mat-list-item class="logout-button" (click)="doLogout()">
            <mat-icon matListItemIcon>logout</mat-icon>
            <div matListItemTitle>Logout</div>
        </a>
    </mat-nav-list>
</ng-container>
