@use 'sass:map';
@use 'theme';

mat-list-item[disabled] {
  background: transparent;
}

mat-divider {
  margin: 1em 0;
  opacity: 0.125;
}

.logout-button {
  @include theme.apply() using ($variables) {
    color: map.get($variables, 'warn');
  }
}
