<mat-nav-list>
    <a mat-list-item routerLink="/create-recipe" (click)="close()">
        <mat-icon mat-list-icon>add</mat-icon>
        <div mat-line>Create new recipe</div>
    </a>

    <mat-divider></mat-divider>

    <mat-list-item disabled *ngIf="auth.user$ | async as user">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>{{ user.name }}</div>
        <div mat-line>{{ user.email }}</div>
    </mat-list-item>

    <a mat-list-item routerLink="/settings" (click)="close()">
        <mat-icon mat-list-icon>settings</mat-icon>
        <div mat-line>Account settings</div>
    </a>

    <button mat-list-item class="logout-button" (click)="doLogout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        <div mat-line>Logout</div>
    </button>
</mat-nav-list>

