@import 'variables.scss';

.back-link {
  margin-bottom: 0.5em;
  display: block;
}

mat-spinner {
  margin: 0 auto 1em;
}

h2 mat-spinner {
  margin: 0 0 0 1em;
  display: inline-block;
}

details {
  margin-bottom: 1em;

  summary {
    cursor: pointer;
    text-align: center;
  }

  pre {
    padding: 1em;
    border-radius: 0.5em;
    font-weight: 500;

    color: $background;
    background: $foreground;
  }
}

.config {
  &.loading {
    table {
      opacity: 0.5;
    }
  }

  h3 {
    text-align: center;
  }

  table {
    width: 100%;
    max-width: 500px;

    margin: 0 auto 1em;

    border-collapse: collapse;

    th {
      font-weight: 500;

      &:last-child {
        width: 3.5em;
      }
    }

    td:last-child {
      button {
        height: 1.5rem;

        mat-icon {
          font-size: 1rem;
        }
      }
    }

    th,
    td {
      border: 1px solid #{$foreground}25;
      padding: 0.25em 0.5em;
    }

    tbody tr:nth-child(odd) {
      background: #{$foreground}20;
    }
  }
}
