<a routerLink="/admin" class="icon-text back-link">
    <mat-icon>arrow_back</mat-icon><span>{{ 'pages.admin.go_back' | translate }}</span>
</a>

<h2 class="icon-text">
    <mat-icon>miscellaneous_services</mat-icon>
    <span>{{ 'pages.admin.server.title' | translate }}</span>
    <mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
</h2>

<mat-spinner *ngIf="!serverConfig && !error" [diameter]="32"></mat-spinner>
<p class="icon-text fg-warn" *ngIf="error">
    <mat-icon>error</mat-icon><span>{{ 'messages.admin.error_loading_server_config' | translate }}</span>
</p>

<ng-container *ngIf="serverConfig && !error">
    <details>
        <summary class="icon-text">
            <mat-icon>code</mat-icon><span>{{ 'pages.admin.server.json_config' | translate }}</span>
        </summary>
        <pre>{{ serverConfig | json }}</pre>
    </details>

    <div class="config" [class.loading]="loading">
        <h3 class="icon-text">
            <mat-icon>tune</mat-icon><span>{{ 'pages.admin.server.basic.title' | translate }}</span>
        </h3>
        <table class="mat-elevation-z4">
            <thead>
                <tr>
                    <th>{{ 'setting' | translate }}</th>
                    <th>{{ 'value' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ 'pages.admin.server.basic.root_url' | translate }}</td>
                    <td>{{ serverConfig.root_url }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.basic.production' | translate }}</td>
                    <td>
                        <select [value]="serverConfig.production" disabled>
                            <option value="true">{{ 'yes' | translate }}</option>
                            <option value="false">{{ 'no' | translate }}</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.basic.image_store_path' | translate }}</td>
                    <td>{{ serverConfig.image_store ? serverConfig.image_store : ('default' | translate) }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.basic.registration_enabled' | translate }}</td>
                    <td>
                        <ng-container
                            *ngTemplateOutlet="yesNoSelect; context: { key: 'registration_enabled' }"
                        ></ng-container>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.basic.email_verification_enabled' | translate }}</td>
                    <td>
                        <ng-container
                            *ngTemplateOutlet="yesNoSelect; context: { key: 'email_verification.enabled' }"
                        ></ng-container>
                    </td>
                    <td></td>
                </tr>
                <tr *ngIf="serverConfig['email_verification.enabled']">
                    <td>{{ 'pages.admin.server.basic.email_verification_ttl' | translate }}</td>
                    <td>{{ serverConfig['email_verification.ttl'] }} {{ 'seconds' | translate }}</td>
                    <td>
                        <button
                            (click)="
                                openEditDialog(
                                    'email_verification.ttl',
                                    'number',
                                    'pages.admin.server.basic.email_verification_ttl'
                                )
                            "
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="vertical-align-middle">{{
                            'pages.admin.server.basic.hcaptcha_enabled' | translate
                        }}</span>
                        &nbsp;
                        <a href="https://www.hcaptcha.com/" target="_blank" rel="noopener noreferrer">
                            <mat-icon class="vertical-align-middle">info</mat-icon>
                        </a>
                    </td>
                    <td>
                        <ng-container
                            *ngTemplateOutlet="yesNoSelect; context: { key: 'hcaptcha.enabled' }"
                        ></ng-container>
                    </td>
                    <td></td>
                </tr>
                <tr *ngIf="serverConfig['hcaptcha.enabled']">
                    <td>{{ 'pages.admin.server.basic.hcaptcha_secret' | translate }}</td>
                    <td [innerHTML]="getHTMLBullets(16)"></td>
                    <td>
                        <button
                            (click)="
                                openEditDialog('hcaptcha.secret', 'text', 'pages.admin.server.basic.hcaptcha_secret')
                            "
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 class="icon-text">
            <mat-icon>storage</mat-icon><span>{{ 'pages.admin.server.database.title' | translate }}</span>
        </h3>
        <table class="mat-elevation-z4">
            <thead>
                <tr>
                    <th>{{ 'setting' | translate }}</th>
                    <th>{{ 'value' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ 'pages.admin.server.database.host' | translate }}</td>
                    <td>{{ serverConfig['database.host'] }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.database.user' | translate }}</td>
                    <td>{{ serverConfig['database.user'] }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.database.password' | translate }}</td>
                    <td [innerHTML]="getHTMLBullets(10)"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.database.database' | translate }}</td>
                    <td>{{ serverConfig['database.database'] }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.database.charset' | translate }}</td>
                    <td>{{ serverConfig['database.charset'] }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <h3 class="icon-text">
            <mat-icon>shield</mat-icon><span>{{ 'pages.admin.server.authentication.title' | translate }}</span>
        </h3>
        <table class="mat-elevation-z4">
            <thead>
                <tr>
                    <th>{{ 'setting' | translate }}</th>
                    <th>{{ 'value' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="vertical-align-middle">
                            {{ 'pages.admin.server.authentication.token_secret' | translate }}
                        </span>
                        &nbsp;
                        <a
                            (click)="
                                openInfoDialog(
                                    'pages.admin.server.authentication.token_secret',
                                    'pages.admin.server.authentication.token_secret_warning'
                                )
                            "
                            class="fg-warn"
                            style="cursor: pointer"
                        >
                            <mat-icon class="vertical-align-middle">info</mat-icon>
                        </a>
                    </td>
                    <td [innerHTML]="getHTMLBullets(16)"></td>
                    <td>
                        <button
                            (click)="
                                openEditDialog('token.secret', 'text', 'pages.admin.server.authentication.token_secret')
                            "
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.authentication.token_ttl' | translate }}</td>
                    <td>{{ serverConfig['token.ttl'] }} {{ 'seconds' | translate }}</td>
                    <td>
                        <button
                            (click)="
                                openEditDialog('token.ttl', 'number', 'pages.admin.server.authentication.token_ttl')
                            "
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="vertical-align-middle">
                            {{ 'pages.admin.server.authentication.password_secret' | translate }}
                        </span>
                        &nbsp;
                        <a
                            (click)="
                                openInfoDialog(
                                    'pages.admin.server.authentication.password_secret',
                                    'pages.admin.server.authentication.password_secret_warning'
                                )
                            "
                            class="fg-warn"
                            style="cursor: pointer"
                        >
                            <mat-icon class="vertical-align-middle">info</mat-icon>
                        </a>
                    </td>
                    <td [innerHTML]="getHTMLBullets(16)"></td>
                    <td>
                        <button
                            (click)="
                                openEditDialog(
                                    'password.secret',
                                    'text',
                                    'pages.admin.server.authentication.password_secret'
                                )
                            "
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.authentication.password_reset_ttl' | translate }}</td>
                    <td>{{ serverConfig['password.reset_ttl'] }} {{ 'seconds' | translate }}</td>
                    <td>
                        <button
                            (click)="
                                openEditDialog(
                                    'password.reset_ttl',
                                    'number',
                                    'pages.admin.server.authentication.password_reset_ttl'
                                )
                            "
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.authentication.bad_authentication_limit' | translate }}</td>
                    <td>{{ serverConfig['bad_authentication_limit'] }}</td>
                    <td>
                        <button
                            (click)="
                                openEditDialog(
                                    'bad_authentication_limit',
                                    'number',
                                    'pages.admin.server.authentication.bad_authentication_limit'
                                )
                            "
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 class="icon-text">
            <mat-icon>email</mat-icon><span>{{ 'pages.admin.server.mail.title' | translate }}</span>
        </h3>
        <table class="mat-elevation-z4">
            <thead>
                <tr>
                    <th>{{ 'setting' | translate }}</th>
                    <th>{{ 'value' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ 'pages.admin.server.mail.smtp_host' | translate }}</td>
                    <td>{{ serverConfig['mail.smtp.host'] }}</td>
                    <td>
                        <button
                            (click)="openEditDialog('mail.smtp.host', 'text', 'pages.admin.server.mail.smtp_host')"
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.mail.smtp_port' | translate }}</td>
                    <td>
                        {{ serverConfig['mail.smtp.port'] }}
                    </td>
                    <td>
                        <button
                            (click)="openEditDialog('mail.smtp.port', 'number', 'pages.admin.server.mail.smtp_port')"
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.mail.smtp_encrypted' | translate }}</td>
                    <td>
                        <ng-container
                            *ngTemplateOutlet="yesNoSelect; context: { key: 'mail.smtp.encrypted' }"
                        ></ng-container>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.mail.smtp_username' | translate }}</td>
                    <td>{{ serverConfig['mail.smtp.username'] }}</td>
                    <td>
                        <button
                            (click)="
                                openEditDialog('mail.smtp.username', 'text', 'pages.admin.server.mail.smtp_username')
                            "
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.mail.smtp_password' | translate }}</td>
                    <td [innerHTML]="getHTMLBullets(10)"></td>
                    <td>
                        <button
                            (click)="
                                openEditDialog(
                                    'mail.smtp.password',
                                    'password',
                                    'pages.admin.server.mail.smtp_password'
                                )
                            "
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.mail.sender_mail' | translate }}</td>
                    <td>{{ serverConfig['mail.from.mail'] }}</td>
                    <td>
                        <button
                            (click)="openEditDialog('mail.from.mail', 'text', 'pages.admin.server.mail.sender_mail')"
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'pages.admin.server.mail.sender_name' | translate }}</td>
                    <td>{{ serverConfig['mail.from.name'] }}</td>
                    <td>
                        <button
                            (click)="openEditDialog('mail.from.name', 'text', 'pages.admin.server.mail.sender_name')"
                            [disabled]="loading"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button mat-raised-button (click)="sendTestEmail()" [disabled]="loading" color="accent" class="send-test-email">
            <mat-icon *ngIf="!sendingTestEmail">mail</mat-icon>
            <mat-spinner [diameter]="24" color="accent" *ngIf="sendingTestEmail"></mat-spinner>

            <span>
                {{ 'pages.admin.server.mail.send_test_email' | translate }}
            </span>
        </button>
    </div>
</ng-container>

<ng-template #yesNoSelect let-key="key">
    <select [value]="getServerConfig(key)" (change)="updateValueFromEvent(key, $event)" [disabled]="loading">
        <option value="true">{{ 'yes' | translate }}</option>
        <option value="false">{{ 'no' | translate }}</option>
    </select>
</ng-template>
