@use '~@angular/material' as mat;
@import 'variables.scss';

.back-link {
  margin-bottom: 0.5em;
  display: block;
}

mat-spinner {
  margin: 0 auto 1em;
}

h2 mat-spinner {
  margin: 0 0 0 1em;
  display: inline-block;
}

details {
  margin-bottom: 1em;

  summary {
    cursor: pointer;
    text-align: center;
  }

  pre {
    padding: 1em;
    border-radius: 0.5em;
    font-weight: 500;

    color: $background;
    background: $foreground;
  }
}

.config {
  text-align: center;

  &.loading {
    table {
      opacity: 0.5;
    }
  }

  table {
    width: 100%;
    max-width: 500px;

    margin: 0 auto 2em;

    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;

    th {
      font-weight: 500;

      &:last-child {
        width: 3.5em;
      }
    }

    td:last-child button,
    td:nth-child(2) select {
      height: 1.5rem;
      cursor: pointer;

      background: $background;

      border: 1px solid adjustColor($foreground, 75%);
      border-radius: 0.25em;

      &:hover {
        mat-icon {
          color: mat.get-color-from-palette($accent);
        }
      }

      mat-icon {
        font-size: 1rem;
        height: 1rem;

        transition: color 0.2s;
      }
    }

    th,
    tr:not(:last-of-type) td {
      border-bottom: 1px solid adjustColor($foreground, 75%);
    }

    th,
    td {
      padding: 0.5em 0.75em;
    }

    tbody tr:nth-child(odd) {
      background: adjustColor($background, 10);
    }
  }

  button.send-test-email {
    margin-bottom: 1em;

    span,
    mat-spinner,
    mat-icon {
      vertical-align: middle;
      display: inline-block;
    }

    mat-spinner,
    mat-icon {
      margin: 0 0.5rem 0 0;
    }
  }
}
