@import 'variables.scss';

.back-link {
  margin-bottom: 0.5em;
  display: block;
}

details {
  margin-bottom: 1em;

  pre {
    padding: 1em;
    border-radius: 0.5em;
    font-weight: 500;

    color: $background;
    background: $foreground;
  }
}

table {
  width: 100%;
  max-width: 500px;

  margin-bottom: 1em;

  border-collapse: collapse;

  th {
    font-weight: 500;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 0.25em 0.5em;
  }
}
