@import '~@angular/material/theming';

// for color info see: https://material.io/design/color/

$primary: mat-palette($mat-brown, 600);
$accent: mat-palette($mat-teal, 400);
$warn: mat-palette($mat-red);

$link: #1693ff;

$header-background: #212121;
$header-foreground: #fff;

$body-background: #d4d4d4;

$background: #ffffff;
$foreground: #000000;

$mobile-width: 700px;
$desktop-width: 700.1px;
