<ng-container
    *ngIf="{
        isAuthenticated: auth.isAuthenticated$ | async,
        isAuthInitialized: (auth.isInitialized$ | async) ?? true
    } as vm"
>
    <mat-toolbar class="mat-elevation-z4">
        <nav>
            <ul>
                <li>
                    <a mat-flat-button routerLink="/home" routerLinkActive="current">
                        <div class="button-wrapper">
                            <mat-icon>home</mat-icon>
                            <span>{{ 'pages.home.title' | transloco }}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a mat-flat-button routerLink="/recipes" routerLinkActive="current">
                        <div class="button-wrapper">
                            <mat-icon>restaurant</mat-icon>
                            <span>{{ 'recipes.recipes' | transloco }}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a
                        mat-flat-button
                        routerLink="/cookbooks"
                        routerLinkActive="current"
                        [disabled]="!vm.isAuthenticated || !vm.isAuthInitialized"
                    >
                        <div class="button-wrapper">
                            <mat-icon>menu_book</mat-icon>
                            <span>{{ 'cookbooks.cookbooks' | transloco }}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a mat-flat-button routerLink="/settings" routerLinkActive="current">
                        <div class="button-wrapper">
                            <mat-icon>settings</mat-icon>
                            <span>{{ 'pages.settings.title' | transloco }}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </mat-toolbar>
</ng-container>
