<mat-toolbar class="mat-elevation-z4">
    <nav>
        <ul>
            <li>
                <button mat-flat-button routerLink="/dashboard" routerLinkActive="current">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
            </li>
            <li>
                <button mat-flat-button routerLink="/recipes" routerLinkActive="current">
                    <mat-icon>restaurant</mat-icon>
                    <span>Recipes</span>
                </button>
            </li>
            <li>
                <button mat-flat-button routerLink="/cookbooks" routerLinkActive="current">
                    <mat-icon>menu_book</mat-icon>
                    <span>Cookbooks</span>
                </button>
            </li>
            <li>
                <button mat-flat-button routerLink="/search" routerLinkActive="current">
                    <mat-icon>search</mat-icon>
                    <span>Search</span>
                </button>
            </li>
        </ul>
    </nav>
</mat-toolbar>
