<ng-container *ngIf="{ isAuthenticated: auth.isAuthenticated$ | async } as vm">
    <mat-toolbar class="mat-elevation-z4">
        <nav>
            <ul>
                <li>
                    <a mat-flat-button routerLink="/home" routerLinkActive="current">
                        <mat-icon>home</mat-icon>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a mat-flat-button routerLink="/recipes" routerLinkActive="current">
                        <mat-icon>restaurant</mat-icon>
                        <span>Recipes</span>
                    </a>
                </li>
                <li>
                    <a
                        mat-flat-button
                        routerLink="/cookbooks"
                        routerLinkActive="current"
                        [disabled]="!vm.isAuthenticated"
                    >
                        <mat-icon>menu_book</mat-icon>
                        <span>Cookbooks</span>
                    </a>
                </li>
                <li>
                    <a mat-flat-button routerLink="/settings" routerLinkActive="current">
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </mat-toolbar>
</ng-container>

