<button mat-icon-button [disabled]="disabled || page <= 0" (click)="setPage(page - 1)">
    <mat-icon>navigate_before</mat-icon>
</button>

<button mat-icon-button [disabled]="disabled || pages === 0" [class.active]="page === 0" (click)="setPage(0)">1</button>

<span *ngIf="page >= 4">...</span>

<button
    mat-icon-button
    [disabled]="disabled"
    *ngFor="let i of pagesList"
    [class.active]="page === i - 1"
    (click)="setPage(i - 1)"
>
    {{ i }}
</button>

<span *ngIf="page <= pages - 5">...</span>

<button
    mat-icon-button
    [disabled]="disabled"
    [class.active]="page === pages - 1"
    (click)="setPage(pages - 1)"
    *ngIf="pages > 1"
>
    {{ pages }}
</button>

<button mat-icon-button [disabled]="disabled || page >= pages - 1" (click)="setPage(page + 1)">
    <mat-icon>navigate_next</mat-icon>
</button>
