@use '~@angular/material' as mat;
@import 'variables.scss';

button {
  &.active {
    background: mat.get-color-from-palette($accent);
    color: mat.get-color-from-palette($accent, default-contrast);
    cursor: default;
  }
}

button,
span {
  margin-right: 0.1em;
}
