h2 {
  margin-bottom: 0;
}

.results {
  display: block;
  margin-bottom: 1em;
  opacity: 0.5;
}

mat-spinner {
  margin: 1em auto;
}

cb-recipe-item {
  margin-bottom: 1em;
  display: block;
}

cb-paginator {
  display: block;
  text-align: center;
  margin: 2em 0 1em 0;
}
