@import 'variables.scss';

.dashboard {
  margin-bottom: 2em;

  h3 {
    text-align: center;
  }

  > div {
    display: inline-block;
    text-align: center;
    vertical-align: top;

    width: calc(100% / 3);

    h4 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    > h5 {
      font-size: 1rem;
      display: block;
      margin-bottom: 1rem;
    }

    .additional {
      > span {
        display: block;
        margin-bottom: 0.25em;
      }
    }
  }
}

.navigation {
  text-align: center;

  a {
    display: inline-block;
    padding: 1em;
    margin: 0 1em 1em 0;

    border: 1px solid adjustColor($background, 20%);
    border-radius: 0.25em;

    color: inherit;
    text-decoration: none;

    transition: box-shadow 0.2s;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.6);
    }

    mat-icon,
    span {
      text-align: center;
      display: block;
    }

    mat-icon {
      font-size: 3rem;
      height: 3rem;
      width: 3rem;

      margin: 0 auto 1rem;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .dashboard > div {
    display: block;
    width: 100%;
    margin-bottom: 2rem;

    &:not(:last-of-type) {
      padding-bottom: 2rem;
      border-bottom: 1px solid adjustColor($background, 20%);
    }
  }
}
