<h2 class="icon-text">
    <mat-icon>admin_panel_settings</mat-icon><span>{{ 'pages.admin.area.title' | translate }}</span>
</h2>

<div class="dashboard">
    <h3>{{ 'pages.admin.area.server_information' | translate }}</h3>

    <mat-spinner *ngIf="loading" [diameter]="32"></mat-spinner>

    <ng-container *ngIf="!loading && serverInformation">
        <div>
            <h4 class="icon-text">
                <mat-icon>person</mat-icon><span>{{ serverInformation.users.total }}</span>
            </h4>
            <h5>{{ 'pages.admin.area.total_users' | translate }}</h5>

            <div class="additional">
                <span class="icon-text">
                    <mat-icon>remove_moderator</mat-icon>
                    <span
                        >{{ 'pages.admin.area.unverified' | translate }}: {{ serverInformation.users.unverified }}</span
                    >
                </span>
                <span class="icon-text">
                    <mat-icon>security</mat-icon>
                    <span
                        >{{ 'pages.admin.area.administrators' | translate }}: {{ serverInformation.users.admins }}</span
                    >
                </span>
            </div>
        </div>
        <div>
            <h4 class="icon-text">
                <mat-icon>restaurant_menu</mat-icon><span>{{ serverInformation.recipes.total }}</span>
            </h4>
            <h5>{{ 'pages.admin.area.total_recipes' | translate }}</h5>

            <div class="additional">
                <span class="icon-text">
                    <mat-icon>public</mat-icon>
                    <span>{{ 'recipe.public' | translate }}: {{ serverInformation.recipes.private }}</span>
                </span>
                <span class="icon-text">
                    <mat-icon>lock</mat-icon>
                    <span
                        >{{ 'recipe.private' | translate }}:
                        {{ serverInformation.recipes.total - serverInformation.recipes.private }}</span
                    >
                </span>
            </div>
        </div>
        <div>
            <h4 class="icon-text">
                <mat-icon>image</mat-icon><span>{{ serverInformation.imagesSize }} MB</span>
            </h4>
            <h5>{{ 'pages.admin.area.total_image_size' | translate }}</h5>
        </div>
    </ng-container>

    <p class="icon-text fg-warn" *ngIf="error">
        <mat-icon>error</mat-icon><span>{{ 'messages.admin.error_loading_server_information' | translate }}</span>
    </p>
</div>

<div class="navigation">
    <h3>{{ 'settings' | translate }}</h3>

    <a routerLink="/admin/users">
        <mat-icon color="accent">manage_accounts</mat-icon>
        <span>{{ 'pages.admin.users.title' | translate }}</span>
    </a>
    <a routerLink="/admin/recipes">
        <mat-icon color="accent">menu_book</mat-icon>
        <span>{{ 'pages.admin.recipes.title' | translate }}</span>
    </a>
    <a routerLink="/admin/server">
        <mat-icon color="accent">miscellaneous_services</mat-icon>
        <span>{{ 'pages.admin.server.title' | translate }}</span>
    </a>
</div>
