form {
  margin-bottom: 2em;

  mat-form-field,
  mat-slide-toggle,
  .form-footer {
    display: block;
  }

  mat-slide-toggle {
    margin-bottom: 1.5em;
  }

  .form-footer {
    text-align: left;

    button {
      margin-right: 1em;
    }

    mat-spinner {
      vertical-align: middle;
    }

    > * {
      display: inline-block;
    }
  }
}

cb-hcaptcha {
  margin-bottom: 1em;
  display: block;
}
