<h1 mat-dialog-title *ngIf="isLogin">
    <mat-icon>login</mat-icon><span>{{ 'login' | translate }}</span>
</h1>
<h1 mat-dialog-title *ngIf="!isLogin">
    <mat-icon>add</mat-icon><span>{{ 'register' | translate }}</span>
</h1>

<div mat-dialog-content>
    <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{ 'user.email' | translate }}</mat-label>
            <input matInput type="text" formControlName="email" />
            <mat-error *ngIf="getFormError('email') as formError">{{
                formError.key | translate: formError.replacements
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary" *ngIf="!isLogin">
            <mat-label>{{ 'user.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="getFormError('name') as formError">{{
                formError.key | translate: formError.replacements
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{ 'user.password' | translate }}</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="getFormError('password') as formError">{{
                formError.key | translate: formError.replacements
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary" *ngIf="!isLogin">
            <mat-label>{{ 'user.repeat_password' | translate }}</mat-label>
            <input matInput type="password" formControlName="passwordConfirm" />
            <mat-error *ngIf="getFormError('passwordConfirm') as formError">{{
                formError.key | translate: formError.replacements
            }}</mat-error>
        </mat-form-field>
        <p *ngIf="isLogin" style="margin-bottom: 1.25em">
            {{ 'login_register.forgot_password' | translate }}
            <a (click)="showResetPasswordDialog()" class="link" [class.disabled]="loading">{{
                'login_register.reset_password' | translate
            }}</a>
        </p>

        <mat-slide-toggle color="primary" formControlName="remember">{{
            'login_register.remember_me' | translate
        }}</mat-slide-toggle>

        <cb-hcaptcha *ngIf="showHCaptcha" (verified)="onCaptchaVerified($event)"></cb-hcaptcha>

        <div class="form-footer">
            <button
                mat-raised-button
                color="primary"
                (click)="action()"
                [disabled]="loading || !loginForm.valid || !isHCaptchaValid"
            >
                {{ (isLogin ? 'login' : 'register') | translate }}
            </button>

            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>

            <span *ngIf="error" class="fg-warn">{{ error | translate }}</span>
        </div>
    </form>

    <p *ngIf="isLogin">
        {{ 'login_register.no_account' | translate }}
        <a (click)="toggleLogin()" class="link" [class.disabled]="loading">{{ 'register' | translate }}</a>
    </p>
    <p *ngIf="!isLogin">
        {{ 'login_register.has_account' | translate }}
        <a (click)="toggleLogin()" class="link" [class.disabled]="loading">{{ 'login' | translate }}</a>
    </p>
</div>
