<div class="actions" *ngIf="editRecipe">
    <p *ngIf="editRecipe && user.user?.id !== editRecipe.user.id" class="owner">
        <strong>{{ 'recipe.owner' | translate }}:</strong> {{ editRecipe.user.name }} ({{ 'id' | translate }}:
        {{ editRecipe.user.id }})
    </p>
    <a mat-stroked-button [routerLink]="disabled ? null : recipeURL" [disabled]="disabled">
        <mat-icon>visibility</mat-icon> {{ 'pages.edit_recipe.view_recipe' | translate }}
    </a>
    <button mat-stroked-button (click)="deleteRecipe()" color="warn" [disabled]="disabled">
        <mat-icon>delete</mat-icon> {{ 'pages.edit_recipe.delete_recipe' | translate }}
    </button>
</div>

<mat-vertical-stepper #stepper linear="true">
    <mat-step [completed]="isEdit">
        <ng-template matStepLabel>{{ 'pages.edit_recipe.edit_information' | translate }}</ng-template>
        <cb-edit-recipe-information
            [editRecipe]="editRecipe"
            (saved)="informationSaved($event)"
            [disabled]="disabled"
        ></cb-edit-recipe-information>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>{{ 'pages.edit_recipe.edit_images' | translate }}</ng-template>

        <cb-edit-recipe-images
            [recipeId]="editRecipe.id"
            [disabled]="disabled"
            *ngIf="editRecipe"
        ></cb-edit-recipe-images>
    </mat-step>
</mat-vertical-stepper>
