<div class="title">
    <div>
        <h2>
            <ng-container *ngIf="recipe; else titleLoading">
                <span>{{ recipe.name }}</span>
            </ng-container>

            <ng-template #titleLoading>
                <app-skeleton width="10em"></app-skeleton>
            </ng-template>
        </h2>
        <h3>
            <ng-container *ngIf="recipe; else authorLoading">
                {{ 'general.by' | transloco }} {{ recipe.user.name }}

                <div class="icons">
                    <mat-icon [matTooltip]="'general.public' | transloco" inline *ngIf="recipe.is_public">
                        public
                    </mat-icon>
                    <mat-icon [matTooltip]="'recipes.publicShare' | transloco" inline *ngIf="recipe.share_uuid">
                        link
                    </mat-icon>
                </div>
            </ng-container>

            <ng-template #authorLoading>
                <app-skeleton width="5em"></app-skeleton>
            </ng-template>
        </h3>
    </div>

    <div class="actions" *ngIf="recipe; else optionsLoading">
        <app-share-menu
            color="primary"
            [disabled]="disabled"
            [text]="('recipes.recipe' | transloco) + ': ' + recipe.name"
            showPrint
        ></app-share-menu>
        <button
            mat-icon-button
            class="options-button"
            [matMenuTriggerFor]="menu"
            [disabled]="disabled"
            *ngIf="recipe.user_can_edit"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <ng-template #optionsLoading>
        <app-skeleton class="circle"></app-skeleton>
    </ng-template>
</div>

<div class="tags">
    <ng-container *ngIf="recipe; else tagsLoading">
        <a
            routerLink="/recipes"
            [queryParams]="{ category: recipe.category }"
            class="category"
            [attr.disabled]="disabled ? '' : null"
            *ngIf="recipe.category"
        >
            <mat-icon>local_dining</mat-icon>
            {{ recipe.category }}
        </a>

        <a
            [routerLink]="['/cookbooks', cookbook.id]"
            class="cookbook"
            [attr.disabled]="disabled ? '' : null"
            *ngIf="recipe.cookbook as cookbook"
        >
            <mat-icon>menu_book</mat-icon>
            {{ cookbook.name }}
        </a>
    </ng-container>

    <ng-template #tagsLoading>
        <app-skeleton class="chip" width="12em"></app-skeleton>
        <app-skeleton class="chip" width="10em"></app-skeleton>
    </ng-template>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openPublicShareDialog()">
        <mat-icon>share</mat-icon>
        <span>{{ 'recipes.publicShare' | transloco }}</span>
    </button>
    <a [routerLink]="['/recipes', recipe?.id, 'edit']" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>{{ 'actions.edit' | transloco }}</span>
    </a>
    <button mat-menu-item (click)="deleteRecipe.emit()" *ngIf="recipe?.user_can_admin">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ 'recipes.moveToTrash' | transloco }}</span>
    </button>
</mat-menu>
