@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme';
@use 'mixins';
@use 'variables' as *;
@use '../../styles/variables.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: $content-border-radius $layout-padding;
  margin-bottom: 1.5em;

  border-radius: $content-border-radius;

  @include mat.elevation(4);

  @include theme.apply() using ($variables) {
    background: theme.adjust-color($variables, map.get($variables, 'background'), 1%);
  }
}

.title {
  display: flex;
  gap: 1em;
  align-items: center;

  margin-bottom: 0.25em;

  > div:first-of-type {
    flex: 1;

    h2 {
      display: flex;
      align-items: center;
      gap: 0.5em;

      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    h3 {
      display: flex;
      align-items: center;
      gap: 1em;
      margin: 0;

      font-weight: lighter;
      font-size: 1em;
      @include mixins.font-handwriting();
      opacity: 0.75;

      .icons {
        display: flex;
        align-items: center;
        gap: 0.25em;

        mat-icon {
          font-size: 1.125em;
        }
      }

      app-skeleton {
        margin-bottom: 0.125em;
      }
    }
  }

  .options-button {
    margin-left: 0.25em;
  }
}

.tags {
  display: flex;
  gap: 0.5em;

  > a {
    text-decoration: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.5em;

    padding: 0.25em 0.75em;

    border-radius: 1em;
    overflow: hidden;

    transition: background $transition-time, bottom $transition-time;

    @include theme.apply() using ($variables) {
      background: map.get($variables, 'accent');
      color: map.get($variables, 'accent-text');

      &:hover {
        background: rgba(map.get($variables, 'accent'), 0.75);
      }

      &[disabled] {
        background: theme.adjust-color($variables, map.get($variables, 'background'), -10%);
      }
    }

    &[disabled] {
      opacity: 0.5;
    }
  }
}

@include mixins.desktop() {
  :host {
    background: transparent !important;
    box-shadow: none;

    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

@media print {
  :host {
    background: transparent !important;
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
  }

  app-share-menu,
  button {
    display: none;
  }

  .tags > a {
    background: #e2e2e2 !important;
    color: black !important;
  }
}
