@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme';

[mat-dialog-title] {
  display: flex;
  align-items: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;

  mat-icon {
    margin-right: 0.75em;
  }
}

[mat-dialog-content] {
  overflow: visible;

  mat-form-field {
    width: 100%;
    margin-bottom: 1em;

    [matSuffix] {
      position: relative;
      margin-right: 0.125em;

      .hidden {
        visibility: hidden;
      }

      mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .found-user {
    display: flex;
    align-items: center;
    gap: 0.5em;

    padding: 0.5em 1em;
    border-radius: 0.5em;

    > * {
      min-width: 0;
    }

    .details {
      flex: 1;

      > * {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .email {
        opacity: 0.75;
        font-size: 0.9em;
      }
    }

    @include mat.elevation(2);

    @include theme.apply() using ($variables) {
      color: map.get($variables, 'foreground');
      background: map.get($variables, 'background');
    }
  }
}
