@use 'sass:map';
@use '@angular/material' as mat;
@use 'mixins';
@use 'theme';
@use 'variables' as *;
@use '../../styles/variables.scss' as *;

.navigate-back-button,
.options-button {
  position: fixed;
  top: 1em;
  z-index: 1;

  background: rgba(50, 50, 50, 0.25);
  color: white;
}

.navigate-back-button {
  left: 1em;
}

.options-button {
  right: 1em;
}

.content-spacer {
  height: $image-height;
  position: relative;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -$content-border-radius;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.container {
  box-sizing: border-box;

  min-height: calc(100% - $image-height);
  position: relative;
  z-index: 2;

  border-top-left-radius: $content-border-radius;
  border-top-right-radius: $content-border-radius;

  padding: 0 $layout-padding;
  padding-top: $content-border-radius;
  padding-bottom: $main-space-bottom;

  @include theme.apply() using ($variables) {
    background: map.get($variables, 'background');
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-bottom: 1.5em;

    .title {
      display: flex;
      align-items: center;

      margin-bottom: 0.25em;

      > div {
        flex: 1;

        h2 {
          margin-top: 0;
          margin-bottom: 0.5rem;

          > * {
            vertical-align: middle;
          }

          span {
            margin-right: 0.5em;
          }
        }

        h3 {
          margin: 0;

          font-weight: lighter;
          font-size: 1em;
          @include mixins.font-handwriting();
          opacity: 0.75;
        }
      }
    }

    .tags {
      display: flex;
      gap: 0.5em;

      > * {
        all: unset;
        cursor: pointer;

        display: flex;
        align-items: center;
        gap: 0.5em;

        padding: 0.25em 0.75em;

        border-radius: 1em;
        overflow: hidden;

        transition: background $transition-time, bottom $transition-time;

        @include theme.apply() using ($variables) {
          background: map.get($variables, 'accent');
          color: map.get($variables, 'accent-text');

          &:hover {
            background: rgba(map.get($variables, 'accent'), 0.75);
          }
        }
      }
    }
  }

  section {
    h3 {
      box-sizing: border-box;

      position: sticky;
      top: 0;
      z-index: 1;

      padding: 0.75em $layout-padding;
      margin-bottom: 0.5em;
      margin-left: -$layout-padding;
      margin-right: -$layout-padding;

      border-radius: 0.25em;

      @include mixins.font-handwriting();
      @include mat.elevation(2);

      @include theme.apply() using ($variables) {
        background: theme.adjust-color($variables, map.get($variables, 'background'), 5%);
      }
    }

    &.properties {
      display: flex;

      > div {
        flex: 1;

        display: flex;
        gap: 0.5em;
        flex-direction: column;
        align-items: center;

        span {
          text-align: center;
        }
      }
    }

    &.ingredients {
      h3 {
        display: flex;
        align-items: center;

        span {
          flex: 1;
        }
      }

      > div {
        .ingredient-group {
          &:not(:last-of-type) {
            padding-bottom: 0.5em;
            margin-bottom: 1em;

            @include theme.apply() using ($variables) {
              border-bottom: 1px solid rgba(map.get($variables, 'foreground'), 0.05);
            }
          }

          h4 {
            margin-top: 0;
            font-weight: 500;
          }

          .ingredient {
            display: flex;
            align-items: center;

            padding: 0.5em 0;

            .name {
              flex: 1;
            }
            .amount {
              opacity: 0.75;
            }
          }
        }
      }
    }

    &.preparation {
      h3 {
        margin-bottom: 1.5em;
      }

      .preparation-content {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        .preparation-times {
          display: flex;
          flex-direction: column;
          gap: 0.5em;

          > span {
            display: flex;
            align-items: center;
            gap: 0.5em;
          }
        }

        > div ::ng-deep {
          ul,
          ol {
            padding-left: 1.125em;
          }
        }
      }
    }
  }
}
