<button mat-icon-button (click)="navigateBack()" class="navigate-back-button"><mat-icon>arrow_back</mat-icon></button>

<app-recipe-detail-image-slider [images]="recipe.images" class="images-container"> </app-recipe-detail-image-slider>

<div class="content-spacer"></div>

<header>
    <div class="title">
        <div>
            <h2>
                <span>{{ recipe.name }}</span>
                <mat-icon *ngIf="recipe.is_public">public</mat-icon>
            </h2>
            <h3>by {{ recipe.user.name }}</h3>
        </div>

        <app-share-menu color="primary" [text]="'Recipe: ' + recipe.name"></app-share-menu>
        <button mat-icon-button class="options-button" [matMenuTriggerFor]="menu" *ngIf="recipe.user_can_edit">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <div class="tags">
        <a routerLink="/recipes" [queryParams]="{ category: recipe.category }" class="category" *ngIf="recipe.category">
            <mat-icon>local_dining</mat-icon>
            {{ recipe.category }}
        </a>

        <a [routerLink]="['/cookbooks', cookbook.id]" class="cookbook" *ngIf="recipe.cookbook as cookbook">
            <mat-icon>menu_book</mat-icon>
            {{ cookbook.name }}
        </a>
    </div>
</header>

<section class="properties">
    <div class="property-total-time" *ngIf="totalTime">
        <mat-icon color="primary" matTooltip="Total time">timer</mat-icon>
        <span class="hide-mobile property-name">Total time:</span>
        <span> ~ {{ totalTime }}<small>m</small> </span>
    </div>

    <div class="property-difficulty" *ngIf="recipe.difficulty !== null">
        <mat-icon color="primary" matTooltip="Difficulty">local_fire_department</mat-icon>
        <span class="hide-mobile property-name">Difficulty:</span>
        <span> {{ recipe.difficulty }} / 5 </span>
    </div>

    <div class="property-portions" *ngIf="recipe.portions !== null">
        <mat-icon color="primary" matTooltip="Portions">flatware</mat-icon>
        <span class="hide-mobile property-name">Portions:</span>
        <span> {{ recipe.portions * portionsMultiplier | amount }} </span>
    </div>
</section>

<section class="description" *ngIf="recipe.description">
    <h3>
        <span>Description</span>
    </h3>

    {{ recipe.description }}
</section>

<section class="ingredients">
    <h3>
        <span>Ingredients</span>

        <app-number-input
            [(ngModel)]="portionsMultiplier"
            [min]="0.25"
            [max]="100"
            [step]="0.25"
            [stepFunction]="portionsMultiplierStepFunction"
        ></app-number-input>
    </h3>

    <div>
        <div class="ingredient-group" *ngFor="let groupData of recipe.ingredients">
            <h4 *ngIf="groupData.group">{{ groupData.group }}</h4>

            <div class="ingredient" *ngFor="let ingredient of groupData.items">
                <div class="name">{{ ingredient.name }}</div>
                <div class="amount">
                    {{ getIngredientAmount(ingredient.amount) | amount }}

                    {{ ingredient.unit }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="preparation" *ngIf="recipe.preparation">
    <h3>
        <span>Preparation</span>
    </h3>

    <div class="preparation-content">
        <div class="preparation-times">
            <span *ngIf="recipe.preparation_time_minutes">
                <mat-icon>timer</mat-icon>
                <span>
                    Preparation time ~
                    {{ recipe.preparation_time_minutes }}<small>m</small>
                </span>
            </span>
            <span *ngIf="recipe.resting_time_minutes">
                <mat-icon>timer</mat-icon>
                <span>
                    Resting time ~
                    {{ recipe.resting_time_minutes }}<small>m</small>
                </span>
            </span>
            <span *ngIf="recipe.cooking_time_minutes">
                <mat-icon>timer</mat-icon>
                <span>
                    Cooking-/Baking time ~
                    {{ recipe.cooking_time_minutes }}<small>m</small>
                </span>
            </span>
        </div>

        <div class="preparation-content-container" [innerHTML]="recipe.preparation"></div>
    </div>
</section>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openPublicShareDialog()">
        <mat-icon>share</mat-icon>
        <span>Public share</span>
    </button>
    <a [routerLink]="['/recipes', recipe.id, 'edit']" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
    </a>
    <button mat-menu-item (click)="deleteRecipe()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Move to trash</span>
    </button>
</mat-menu>
