<div class="editor" [class.disabled]="disabled">
    <div class="toolbar">
        <div class="section">
            <button
                mat-icon-button
                type="button"
                tabindex="-1"
                (click)="toggleBold()"
                [matTooltip]="'editor.bold' | translate"
                matTooltipPosition="above"
                [matTooltipDisabled]="disabled"
                [disabled]="disabled"
            >
                <mat-icon>format_bold</mat-icon>
            </button>
            <button
                mat-icon-button
                type="button"
                tabindex="-1"
                (click)="toggleItalic()"
                [matTooltip]="'editor.italic' | translate"
                matTooltipPosition="above"
                [matTooltipDisabled]="disabled"
                [disabled]="disabled"
            >
                <mat-icon>format_italic</mat-icon>
            </button>
            <button
                mat-icon-button
                type="button"
                tabindex="-1"
                (click)="toggleUnderline()"
                [matTooltip]="'editor.underline' | translate"
                matTooltipPosition="above"
                [matTooltipDisabled]="disabled"
                [disabled]="disabled"
            >
                <mat-icon>format_underline</mat-icon>
            </button>
        </div>

        <div class="section">
            <button
                mat-icon-button
                type="button"
                tabindex="-1"
                (click)="toggleUnorderedList()"
                [matTooltip]="'editor.unordered_list' | translate"
                matTooltipPosition="above"
                [matTooltipDisabled]="disabled"
                [disabled]="disabled"
            >
                <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <button
                mat-icon-button
                type="button"
                tabindex="-1"
                (click)="toggleOrderedList()"
                [matTooltip]="'editor.ordered_list' | translate"
                matTooltipPosition="above"
                [matTooltipDisabled]="disabled"
                [disabled]="disabled"
            >
                <mat-icon>format_list_numbered</mat-icon>
            </button>
        </div>

        <div class="section">
            <button
                mat-icon-button
                type="button"
                tabindex="-1"
                (click)="addLink()"
                [matTooltip]="'editor.add_link' | translate"
                matTooltipPosition="above"
                [matTooltipDisabled]="disabled"
                [disabled]="disabled"
            >
                <mat-icon>insert_link</mat-icon>
            </button>
            <button
                mat-icon-button
                type="button"
                tabindex="-1"
                (click)="removeLink()"
                [matTooltip]="'editor.remove_link' | translate"
                matTooltipPosition="above"
                [matTooltipDisabled]="disabled"
                [disabled]="disabled"
            >
                <mat-icon>link_off</mat-icon>
            </button>
        </div>

        <div class="section">
            <button
                mat-icon-button
                type="button"
                tabindex="-1"
                (click)="clearFormatting()"
                [matTooltip]="'editor.clear_all_formatting' | translate"
                matTooltipPosition="above"
                [matTooltipDisabled]="disabled"
                [disabled]="disabled"
            >
                <mat-icon>format_clear</mat-icon>
            </button>
        </div>
    </div>

    <div
        class="content"
        #content
        [attr.contenteditable]="!disabled"
        [innerHTML]="value"
        (keyup)="update()"
        (paste)="update()"
        (keydown)="keydown($event)"
        [attr.data-placeholder]="placeholder"
        [class.empty]="isEmpty"
    ></div>
</div>
