<ng-container
    *ngIf="{
        isUnverified: auth.isUnverified$ | async,
        isLoading: isLoading$ | async
    } as vm"
>
    <app-settings-section
        class="email-verification"
        icon="verified"
        [title]="'pages.settings.children.security.emailVerification' | transloco"
        [warn]="vm.isUnverified ?? false"
    >
        <ng-container *ngIf="vm.isUnverified">
            <p>{{ 'pages.settings.children.security.emailNotVerifiedText.line1' | transloco }}</p>
            <p>{{ 'pages.settings.children.security.emailNotVerifiedText.line2' | transloco }}</p>

            <div class="action">
                <button mat-raised-button color="accent" (click)="resendVerificationEmail()" [disabled]="vm.isLoading">
                    <mat-icon>email</mat-icon>
                    {{ 'pages.settings.children.security.resendVerificationEmail' | transloco }}
                </button>

                <mat-spinner *ngIf="vm.isLoading" [diameter]="20"></mat-spinner>
            </div>
        </ng-container>

        <em *ngIf="!vm.isUnverified">{{ 'messages.noActionRequired' | transloco }}</em>
    </app-settings-section>
</ng-container>
