@import 'variables.scss';

.actions {
  margin: 1em 0 2em 0;

  button {
    margin-right: 1em;
  }

  .progress {
    display: inline-block;
    width: 25%;

    mat-progress-bar {
      display: inline-block;
      width: calc(100% - 4em);
      margin-right: 1em;
    }

    > * {
      vertical-align: middle;
    }
  }

  > * {
    vertical-align: middle;
  }
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;

  .image {
    position: relative;
    display: flex;
    align-items: center;
    max-height: 250px;
    min-height: 5em;

    text-align: center;

    transition: box-shadow 0.2s;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);

    &:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    }

    .delete-button {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .actions .progress {
    display: block;
    margin-top: 1em;
    width: 100%;
  }
}
