<div class="actions">
    <button
        mat-stroked-button
        [color]="error ? 'warn' : 'accent'"
        (click)="fileInput.click()"
        [disabled]="saving || disabled"
    >
        <mat-icon>file_upload</mat-icon> {{ 'pages.edit_recipe.upload_new_image' | translate }}
    </button>

    <div class="progress" *ngIf="saving && uploadProgress !== null">
        <mat-progress-bar mode="determinate" [value]="uploadProgress" color="accent"></mat-progress-bar>
        <span>{{ uploadProgress }}%</span>
    </div>

    <span class="fg-warn" *ngIf="error">{{ error | translate }}</span>
    <input type="file" hidden (change)="uploadImage(fileInput.files)" #fileInput accept=".jpg,.jpeg,.jfif,.png,.gif" />
</div>

<div class="images">
    <div class="image" *ngFor="let url of recipeImagesURLs; let index = index">
        <cb-image [src]="url" alt="Recipe image"></cb-image>
        <button
            mat-mini-fab
            (click)="deleteImage(index)"
            class="delete-button"
            color="warn"
            [disabled]="saving || loading || disabled"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <p class="icon-text" *ngIf="recipeImagesURLs && recipeImagesURLs.length === 0">
        <mat-icon>info</mat-icon><span>{{ 'messages.recipe_images.no_images' | translate }}</span>
    </p>
</div>
