@use 'sass:map';
@use 'variables' as *;
@use 'theme';

// TODO: highlight on focus
.container {
  display: flex;
  align-items: center;
  border-radius: 2em;
  padding: 0 0.75em;

  @include theme.apply() using ($variables) {
    background: rgba(map.get($variables, 'foreground'), 0.1);
  }

  label {
    padding-right: 0.5em;
    opacity: 0.5;

    mat-icon {
      vertical-align: middle;
    }
  }

  input {
    all: unset;
    display: block;
    flex: 1;
    padding: 0.75em 0;
  }
}
