@use '~@angular/material' as mat;
@import 'variables.scss';

.full-width {
  width: 100%;
  display: block;
}

mat-form-field {
  display: inline-block;
  margin-right: 0.5em;
}

.language-item-container {
  cb-image,
  span {
    vertical-align: middle;
    display: inline-block;
  }

  cb-image {
    vertical-align: middle;
    height: 1.25em;
    width: 1.25em;
    margin-right: 0.5em;
  }
}

.portions {
  margin-right: 1.5em;
}

.difficulty {
  display: inline-block;
  margin-bottom: 1em;

  .title {
    margin-right: 0.5em;
  }

  span > * {
    vertical-align: middle;
  }

  span span {
    margin-right: 0.25em;
  }
}

.times {
  > * {
    width: 17em;

    input {
      text-align: center;
    }

    span[matSuffix] {
      position: relative;
      top: -0.25em;
      left: 0.25em;
    }
  }
}

.ingredients {
  margin-bottom: 2em;

  .ingredient-group {
    padding: 1em;
    padding-bottom: 0;
    margin-bottom: 1em;
    border-radius: 5px;

    background: #{$foreground}05;
    border: 1px solid #{$foreground}20;
    border-left: 2px solid mat.get-color-from-palette($primary);

    &.invalid {
      border-left: 2px solid mat.get-color-from-palette($warn);
    }

    &:not(.invalid).ingredient-group-name {
      margin-bottom: 1em;
    }

    .ingredient-row {
      border-bottom: 1px solid #{$foreground}50;
      margin-bottom: 1em;

      .ingredient-amount,
      .ingredient-unit {
        width: 7em;
      }

      .ingredient-group {
        width: 10em;
      }
    }

    .ingredient-group-buttons {
      button {
        margin-bottom: 1em;
      }
    }
  }
}

.save {
  .save-button {
    margin-top: 2em;
    margin-right: 1em;
  }

  mat-spinner {
    vertical-align: middle;
    display: inline-block;
  }
}

.autocomplete-option {
  span,
  small {
    display: inline-block;
    vertical-align: middle;
  }

  small {
    color: #{$foreground}90;
  }
}

@media screen and (max-width: $mobile-width) {
  mat-form-field {
    width: 100% !important;
    display: block;
  }

  .ingredient-row {
    text-align: center;
    button {
      display: inline-block;
      vertical-align: middle;
      margin: 0 auto 1em auto;
    }
  }
}
