<ng-container
    *ngIf="{
        isAuthenticated: auth.isAuthenticated$ | async,
        categories: categories$ | async,
        recipes: recipes$ | async,
        cookbooks: cookbooks$ | async
    } as vm"
>
    <div class="search-bar-container" #searchBarContainer>
        <app-search-bar></app-search-bar>
    </div>

    <div class="sections">
        <app-home-page-section heading="Categories" [showMy]="!!vm.isAuthenticated" class="categories">
            <div
                class="categories-container"
                *ngIf="vm.categories?.body?.data | clampArray: categoriesClampAmount as categories"
            >
                <a
                    class="category-chip"
                    *ngFor="let category of categories.items"
                    routerLink="/recipes"
                    [queryParams]="{ category }"
                    color="primary"
                    selected
                    >{{ category }}
                </a>
                <span
                    class="category-chip disabled"
                    *ngIf="categories.overflowAmount > 0"
                    (click)="revealMoreCategories()"
                >
                    +{{ categories.overflowAmount }}
                </span>

                <p *ngIf="categories.items.length === 0" class="not-found-item">No categories found ...</p>
            </div>
        </app-home-page-section>

        <app-home-page-section heading="Recipes" seeAllLink="/recipes" [showMy]="!!vm.isAuthenticated" class="recipes">
            <div *ngIf="vm.recipes?.body?.data as recipes">
                <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-card>

                <p *ngIf="recipes.length === 0" class="not-found-item">No recipes found ...</p>
            </div>

            <a
                routerLink="/recipes"
                mat-raised-button
                color="primary"
                class="show-more-items"
                *ngIf="getRemainingItems(vm.recipes?.body?.meta) as remainingItems"
            >
                <div class="button-wrapper">
                    <mat-icon>restaurant</mat-icon>
                    Show {{ remainingItems }} more recipes
                    <mat-icon>arrow_forward</mat-icon>
                </div>
            </a>
        </app-home-page-section>

        <app-home-page-section
            heading="Cookbooks"
            seeAllLink="/cookbooks"
            [showMy]="true"
            class="cookbooks"
            *ngIf="vm.isAuthenticated"
        >
            <div *ngIf="vm.cookbooks?.body?.data as cookbooks">
                <app-cookbook-card *ngFor="let cookbook of cookbooks" [cookbook]="cookbook"></app-cookbook-card>

                <p *ngIf="cookbooks.length === 0" class="not-found-item">No cookbooks found ...</p>
            </div>

            <a
                routerLink="/cookbooks"
                mat-raised-button
                color="primary"
                class="show-more-items"
                *ngIf="getRemainingItems(vm.cookbooks?.body?.meta) as remainingItems"
            >
                <div class="button-wrapper">
                    <mat-icon>menu_book</mat-icon>
                    Show {{ remainingItems }} more cookbooks
                    <mat-icon>arrow_forward</mat-icon>
                </div>
            </a>
        </app-home-page-section>
    </div>
</ng-container>
