@use 'sass:map';
@use 'variables' as *;
@use 'theme';

.search-bar-container {
  position: sticky;
  top: 0;
  z-index: 10;

  padding: $layout-padding;

  @include theme.apply() using ($variables) {
    background: map.get($variables, 'background');
  }
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 1em;

  app-home-page-section {
    &.categories {
      mat-chip-list {
        overflow: auto;

        a[mat-chip] {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    &.recipes {
      div {
        display: grid;

        gap: 1em;

        @media screen and (min-width: 500px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 800px) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}
