<ng-container
    *ngIf="{
        isAuthenticated: auth.isAuthenticated$ | async,
        categories: categories$ | async,
        recipes: recipes$ | async
    } as vm"
>
    <div class="search-bar-container" #searchBarContainer>
        <app-search-bar></app-search-bar>
    </div>

    <div class="sections">
        <app-home-page-section heading="Categories" [showMy]="!!vm.isAuthenticated" class="categories">
            <mat-chip-list *ngIf="vm.categories?.body?.data | clampArray: categoriesClampAmount as categories">
                <a
                    mat-chip
                    *ngFor="let category of categories.items"
                    routerLink="/recipes"
                    [queryParams]="{ category }"
                    color="primary"
                    selected
                    >{{ category }}
                </a>
                <button mat-chip *ngIf="categories.overflowAmount > 0" (click)="revealMoreCategories()">
                    +{{ categories.overflowAmount }}
                </button>

                <p *ngIf="categories.items.length === 0" class="not-found-item">No categories found ...</p>
            </mat-chip-list>
        </app-home-page-section>

        <app-home-page-section heading="Recipes" seeAllLink="/recipes" [showMy]="!!vm.isAuthenticated" class="recipes">
            <div *ngIf="vm.recipes?.body?.data as recipes">
                <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-card>

                <p *ngIf="recipes.length === 0" class="not-found-item">No recipes found ...</p>
            </div>
        </app-home-page-section>

        <app-home-page-section
            heading="Cookbooks"
            seeAllLink="/cookbooks"
            [showMy]="true"
            class="cookbooks"
            *ngIf="vm.isAuthenticated"
        >
        </app-home-page-section>
    </div>
</ng-container>

