:host {
  text-align: center;

  mat-form-field {
    margin-top: 1em;
    display: block;
  }

  button mat-spinner {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
  }
}
