<h1 mat-dialog-title><mat-icon>lock</mat-icon><br />{{ 'login_register.reset_password' | translate }}</h1>

<div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [completed]="emailSent" [editable]="false">
            <ng-template matStepLabel>{{ 'login_register.send_reset_email' | translate }}</ng-template>
            <form [formGroup]="emailForm">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'user.email' | translate }}</mat-label>
                    <input matInput formControlName="email" type="email" (keyup.enter)="sendEmail()" required />
                    <button
                        mat-icon-button
                        matSuffix
                        (click)="sendEmail()"
                        color="accent"
                        [disabled]="emailForm.disabled || emailForm.invalid"
                        *ngIf="!loading"
                    >
                        <mat-icon>send</mat-icon>
                    </button>
                    <mat-spinner matSuffix diameter="24" *ngIf="loading"></mat-spinner>
                </mat-form-field>

                <p class="fg-warn" *ngIf="error">{{ error | translate }}</p>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{ 'login_register.reset_password' | translate }}</ng-template>
            <form [formGroup]="resetForm">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'login_register.code' | translate }}</mat-label>
                    <input matInput formControlName="token" type="text" required />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'user.new_password' | translate }}</mat-label>
                    <input matInput formControlName="password" type="password" required />
                </mat-form-field>

                <p class="fg-warn" *ngIf="error">{{ error | translate }}</p>

                <button
                    mat-raised-button
                    color="accent"
                    (click)="resetPassword()"
                    [disabled]="resetForm.disabled || resetForm.invalid"
                >
                    <mat-icon *ngIf="!loading">settings_backup_restore</mat-icon>
                    <mat-spinner matSuffix diameter="24" *ngIf="loading"></mat-spinner>
                    {{ 'login_register.reset_password' | translate }}
                </button>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
