<ng-container
    *ngIf="{
        isLoading: isLoading$ | async
    } as vm"
>
    <app-account-settings-update-profile></app-account-settings-update-profile>
    <app-account-settings-update-password></app-account-settings-update-password>

    <app-settings-section icon="dangerous" title="Danger zone" titleColor="warn">
        <button mat-raised-button color="warn" (click)="deleteAccount()" [disabled]="vm.isLoading">
            Delete account
        </button>
    </app-settings-section>
</ng-container>
