<mat-chip-list class="tags" [class.compact]="compact">
    <a
        mat-chip
        [routerLink]="categoryURL"
        *ngIf="recipe.category"
        matTooltip="{{ 'recipe.category' | translate }}"
        [matTooltipShowDelay]="500"
    >
        <mat-icon>menu_book</mat-icon> <span>{{ recipe.category }}</span>
    </a>
    <mat-chip
        [disabled]="true"
        *ngIf="totalTime as time"
        matTooltip="{{ 'recipe.total_time' | translate }}"
        [matTooltipShowDelay]="500"
    >
        <mat-icon>timer</mat-icon> <span>{{ time.key | translate: time.replacements }}</span>
    </mat-chip>
    <mat-chip
        [disabled]="true"
        *ngIf="recipe.portions"
        matTooltip="{{ 'recipe.portions' | translate }}"
        [matTooltipShowDelay]="500"
    >
        <mat-icon>restaurant</mat-icon> <span>{{ recipe.portions }}</span>
    </mat-chip>
    <mat-chip
        [disabled]="true"
        *ngIf="recipe.difficulty !== null"
        matTooltip="{{ 'recipe.difficulty' | translate }}"
        [matTooltipShowDelay]="500"
        class="difficulty"
    >
        <mat-icon *ngFor="let i of [0, 1, 2, 3, 4]" [class.disabled]="recipe.difficulty < i"> whatshot </mat-icon>
    </mat-chip>
    <mat-chip
        [disabled]="true"
        [matTooltip]="'language' | translate"
        [matTooltipShowDelay]="500"
        *ngIf="showLanguage && translation.getLanguageInformation(recipe.languageCode) as language"
    >
        <mat-icon>language</mat-icon> <span>{{ language.name }}</span>
    </mat-chip>
    <mat-chip [disabled]="true" matTooltip="{{ 'recipe.publish_date' | translate }}" [matTooltipShowDelay]="500">
        <mat-icon>today</mat-icon> <span>{{ recipe.publishDate * 1000 | localizedDate: !compact }}</span>
    </mat-chip>
</mat-chip-list>
