<div
    class="container"
    *ngIf="{
        cookbooks: cookbooks$ | async,
        cookbooksLoading: cookbooksLoading$ | async,
        error: error$ | async
    } as vm"
>
    <p class="amount-results" *ngIf="vm.cookbooks?.totalCookbooks as total">{{ total }} cookbooks found</p>

    <div class="cookbooks">
        <app-cookbook-card [cookbook]="cookbook" *ngFor="let cookbook of vm.cookbooks?.cookbooks"> </app-cookbook-card>
    </div>

    <app-error-display [error]="vm.error">
        <ng-container otherErrorMessage> Cookbooks could not be loaded. </ng-container>
    </app-error-display>

    <button
        mat-raised-button
        color="accent"
        (click)="nextPage()"
        [disabled]="!vm.cookbooks || vm.cookbooksLoading"
        *ngIf="(!vm.cookbooks || vm.cookbooks.hasMoreItems) && !vm.error"
    >
        <div>
            <mat-spinner *ngIf="vm.cookbooksLoading" [diameter]="20"></mat-spinner>
            <mat-icon *ngIf="!vm.cookbooksLoading">south</mat-icon>

            Load more
        </div>
    </button>
</div>
