@import 'variables.scss';

img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.image-slider {
  height: 100%;

  > .image {
    width: 100%;
    height: 25em;
    margin-bottom: 0.5em;

    text-align: center;

    border-radius: 5px;
    border: 1px solid #{$foreground}70;

    position: relative;
    overflow: hidden;

    white-space: nowrap;

    cb-image {
      ::ng-deep > img {
        min-height: 10em;

        &[src$='.svg'] {
          height: 20em;
        }
      }
    }

    .slider-navigation {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:nth-of-type(1) {
        left: 1em;
      }
      &:nth-of-type(2) {
        right: 1em;
      }
    }

    .counter {
      position: absolute;
      left: 50%;
      bottom: 0.5em;
      transform: translateX(-50%);

      border-radius: 1.5em;

      padding: 0.25em 0.75em;
      background: mat-color($primary);
      color: mat-color($primary, default-contrast);

      box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.6);

      > * {
        vertical-align: middle;
      }
    }

    .slider-navigation,
    .counter {
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover {
      .slider-navigation,
      .counter {
        opacity: 1;
      }
    }
  }

  .preview {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    .preview-image {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;

      width: 4em;
      height: 4em;
      margin-right: 0.5em;

      cursor: pointer;

      border-radius: 3px;
      border: 1px solid #{$foreground}20;
      opacity: 0.75;

      transition: opacity 0.2s;

      &.active {
        border: 2px solid #{$foreground}70;
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }

      .image {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .image-slider > .image {
    height: 15em;
  }
}

@media print {
  .preview {
    display: none;
  }
}
