<ng-container *ngIf="{ selectedTheme: themeService.selectedTheme$ | async } as vm">
    <section>
        <h3>
            <mat-icon>public</mat-icon>
            Language
        </h3>

        <em>Coming soon...</em>
    </section>

    <section>
        <h3>
            <mat-icon>brush</mat-icon>
            Color theme
        </h3>

        <div class="themes">
            <div
                class="theme mat-elevation-z1 auto"
                [class.selected]="vm.selectedTheme === null"
                (click)="themeService.setTheme(null)"
            >
                <mat-icon>auto_awesome</mat-icon>
            </div>

            <div
                [class]="'theme mat-elevation-z1 scheme-' + theme.scheme"
                [class.selected]="theme.key === vm.selectedTheme?.key"
                (click)="themeService.setTheme(theme)"
                *ngFor="let theme of themes"
            >
                <div class="colors">
                    <div class="color" [style.background]="theme.primaryColor"></div>
                    <div class="color" [style.background]="theme.accentColor"></div>
                </div>
            </div>
        </div>
    </section>
</ng-container>

