<ng-container *ngIf="{ selectedTheme: themeService.selectedTheme$ | async } as vm">
    <app-settings-section icon="public" title="Language">
        <em>Coming soon...</em>
    </app-settings-section>

    <app-settings-section icon="brush" title="Color theme">
        <div class="themes">
            <div
                class="theme mat-elevation-z1 auto"
                [class.selected]="vm.selectedTheme === null"
                (click)="themeService.setTheme(null)"
            >
                <mat-icon>auto_awesome</mat-icon>
                Auto
            </div>

            <div
                [class]="'theme mat-elevation-z1 scheme-' + theme.scheme"
                [class.selected]="theme.key === vm.selectedTheme?.key"
                (click)="themeService.setTheme(theme)"
                *ngFor="let theme of themes"
            >
                <div class="colors">
                    <div class="color" [style.background]="theme.primaryColor"></div>
                    <div class="color" [style.background]="theme.accentColor"></div>
                </div>
            </div>
        </div>
    </app-settings-section>
</ng-container>

