<div class="loading-error" *ngIf="error">
    <ng-container *ngIf="error.type === 'HTTP_ERROR' && error.httpError.status === 404; else otherError">
        <mat-icon color="warn">help_outline</mat-icon>
        <div class="error-details">
            <ng-container *ngTemplateOutlet="notFoundMessageTemplate || defaultErrorTemplate"></ng-container>
        </div>
    </ng-container>
    <ng-template #otherError>
        <mat-icon color="warn">error_outline</mat-icon>
        <div class="error-details">
            <ng-container *ngTemplateOutlet="otherErrorMessageTemplate || null"></ng-container>
            <small>
                <ng-container *ngTemplateOutlet="defaultErrorTemplate"></ng-container>
            </small>
        </div>
    </ng-template>

    <ng-template #defaultErrorTemplate>
        {{ error.type === 'HTTP_ERROR' ? error.httpError.message : (error.error | json) }}
    </ng-template>
</div>
