<ng-container *ngIf="{ isAuthenticated: auth.isAuthenticated$ | async, isOverlayRoute: isOverlayRoute$ | async } as vm">
    <div class="desktop-spacer left"></div>

    <div class="container" [class.is-overlay]="vm.isOverlayRoute">
        <div>
            <header [class.hide-mobile]="vm.isOverlayRoute">
                <img src="/assets/images/cookbook.svg" alt="Cookbook Logo" />
                <h1>Cookbook</h1>

                <div class="spacer"></div>

                <ng-container *ngIf="vm.isAuthenticated; else loginButton">
                    <button class="account-button" (click)="openAccountMenu()">
                        <mat-icon matRipple>account_circle</mat-icon>
                    </button>
                </ng-container>
                <ng-template #loginButton>
                    <a mat-icon-button routerLink="/login" [queryParams]="loginQueryParams" color="accent">
                        <mat-icon>login</mat-icon>
                    </a>
                </ng-template>
            </header>

            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>

    <div class="desktop-spacer right"></div>

    <app-layout-default-navbar [class.hide-mobile]="vm.isOverlayRoute"></app-layout-default-navbar>
</ng-container>
