<h2 mat-dialog-title>
    <ng-container *ngIf="isTranslated">{{ data.title | translate }}</ng-container>
    <ng-container *ngIf="!isTranslated">{{ data.title }}</ng-container>
</h2>

<mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label *ngIf="data.label">
            <ng-container *ngIf="isTranslated">{{ data.label | translate }}</ng-container>
            <ng-container *ngIf="!isTranslated">{{ data.label }}</ng-container>
        </mat-label>
        <input matInput [type]="data.type || 'text'" [(ngModel)]="value" (keyup.enter)="confirm()" />
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="null">
        <ng-container *ngIf="isTranslated">{{ btnDecline | translate }}</ng-container>
        <ng-container *ngIf="!isTranslated">{{ btnDecline }}</ng-container>
    </button>

    <button mat-button [mat-dialog-close]="value" color="accent">
        <ng-container *ngIf="isTranslated">{{ btnConfirm | translate }}</ng-container>
        <ng-container *ngIf="!isTranslated">{{ btnConfirm }}</ng-container>
    </button>
</mat-dialog-actions>
