<ng-container
    *ngIf="{
        recipe: (recipe$ | async)?.body?.data ?? null,
        error: error$ | async,
    } as vm"
>
    <h2>
        <mat-icon>restaurant</mat-icon>
        {{ 'pages.recipes.children.edit.title' | transloco }}
        <a [routerLink]="['/recipes', vm.recipe?.id]" mat-raised-button [disabled]="vm.recipe === null">
            <mat-icon>visibility</mat-icon>
            {{ 'general.view' | transloco }}
        </a>
    </h2>

    <app-edit-recipe-details
        [recipe]="vm.recipe"
        (updateRecipe)="updateRecipe$.emit()"
        (saving)="onDetailsSaving($event)"
        *ngIf="!vm.error"
    ></app-edit-recipe-details>

    <app-error-display [error]="vm.error">
        <ng-template #notFoundMessage> {{ 'recipes.notFound' | transloco }} </ng-template>
        <ng-template #otherErrorMessage> {{ 'recipes.singleLoadingError' | transloco }} </ng-template>
    </app-error-display>
</ng-container>

