<ng-container
    *ngIf="{
        updateError: updateError$ | async
    } as vm"
>
    <app-settings-section icon="password" [title]="'general.password' | transloco">
        <form [formGroup]="form" (submit)="updatePassword()">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'pages.settings.oldPassword' | transloco }}</mat-label>
                <input matInput type="password" placeholder="password" formControlName="oldPassword" />
                <mat-error *ngIf="form.get('oldPassword')?.getError('serverError') as serverError">{{
                    serverError
                }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{ 'pages.settings.newPassword' | transloco }}</mat-label>
                <input matInput type="password" placeholder="new_password" formControlName="newPassword" />
                <mat-error *ngIf="form.get('newPassword')?.getError('serverError') as serverError">{{
                    serverError
                }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{ 'pages.settings.confirmNewPassword' | transloco }}</mat-label>
                <input matInput type="password" placeholder="new_password" formControlName="confirmedPassword" />
            </mat-form-field>

            <p class="error" *ngIf="vm.updateError">
                {{ 'messages.errors.unexpectedError' | transloco }}: {{ vm.updateError }}
            </p>

            <button mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">
                {{ 'pages.settings.children.account.updatePassword' | transloco }}
            </button>
        </form>
    </app-settings-section>
</ng-container>
