<ng-container
    *ngIf="{
        updateError: updateError$ | async
    } as vm"
>
    <app-settings-section icon="password" title="Password">
        <form [formGroup]="form" (submit)="updatePassword()">
            <mat-form-field appearance="outline">
                <mat-label>Old password</mat-label>
                <input matInput type="password" placeholder="password" formControlName="oldPassword" />
                <mat-error *ngIf="form.get('oldPassword')?.getError('serverError') as serverError">
                    {{ serverError }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>New password</mat-label>
                <input matInput type="password" placeholder="new_password" formControlName="newPassword" />
                <mat-error *ngIf="form.get('newPassword')?.getError('serverError') as serverError">
                    {{ serverError }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm new password</mat-label>
                <input matInput type="password" placeholder="new_password" formControlName="confirmedPassword" />
            </mat-form-field>

            <p class="error" *ngIf="vm.updateError">An error occurred: {{ vm.updateError }}</p>

            <button mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">
                Update password
            </button>
        </form>
    </app-settings-section>
</ng-container>

