<header [class.small]="smallHeader">
    <div class="container">
        <h1>
            <img src="assets/images/cookbook.svg" alt="{{ 'cookbook' | translate }} Logo" /><span>{{
                'cookbook' | translate
            }}</span>
        </h1>

        <nav class="desktop-nav hide-mobile" [class.loggedin]="isLoggedin">
            <ng-container *ngTemplateOutlet="navItems"></ng-container>
            <a
                routerLink="/recipes/create"
                routerLinkActive="active"
                class="fg-accent create-recipe-link"
                *ngIf="isLoggedin"
            >
                <div>
                    <mat-icon>add</mat-icon>
                </div>
            </a>
        </nav>

        <div class="actions">
            <a routerLink="/search" mat-icon-button>
                <mat-icon>search</mat-icon>
            </a>
            <button
                mat-icon-button
                *ngIf="!isLoggedin"
                [disabled]="translation.loading"
                [matMenuTriggerFor]="languageMenu"
            >
                <mat-icon>translate</mat-icon>
            </button>
            <button mat-icon-button class="hide-desktop" (click)="toggleMenu()">
                <mat-icon *ngIf="!showMenu">menu</mat-icon>
                <mat-icon *ngIf="showMenu">close</mat-icon>
            </button>
            <button mat-icon-button class="hide-mobile" [matMenuTriggerFor]="userMenu" *ngIf="isLoggedin">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button
                mat-icon-button
                class="hide-mobile"
                (click)="showLoginRegisterDialog()"
                *ngIf="!isLoggedin"
                color="accent"
            >
                <mat-icon>login</mat-icon>
            </button>
        </div>
    </div>

    <nav class="mobile-nav hide-desktop" [class.show]="showMenu">
        <ng-container *ngTemplateOutlet="navItems"></ng-container>
        <a routerLink="/recipes/create" routerLinkActive="active" class="fg-accent" *ngIf="isLoggedin">
            <div>
                <mat-icon>add</mat-icon>
                <span>{{ 'pages.create_recipe.title' | translate }}</span>
            </div>
        </a>
        <div class="spacer"></div>
        <div class="account" *ngIf="isLoggedin">
            <div class="account-mail">
                <mat-icon>email</mat-icon>
                <span>{{ user.user?.email }}</span>
            </div>
            <button mat-button (click)="showMenu = false; showSettingsDialog()">
                <mat-icon>settings</mat-icon> {{ 'settings' | translate }}
            </button>
            <button mat-button [disabled]="translation.loading" [matMenuTriggerFor]="languageMenu">
                <mat-icon>translate</mat-icon> {{ 'language' | translate }}
            </button>
            <a routerLink="/admin" mat-button (click)="showMenu = false" *ngIf="user.user?.isAdmin">
                <mat-icon>admin_panel_settings</mat-icon> {{ 'pages.admin.area.title' | translate }}
            </a>
            <a routerLink="/logout" mat-button color="warn"><mat-icon>logout</mat-icon> {{ 'logout' | translate }}</a>
        </div>
        <div class="account" *ngIf="!isLoggedin">
            <button mat-button color="accent" (click)="showMenu = false; showLoginRegisterDialog()">
                <mat-icon>login</mat-icon> {{ 'login' | translate }} / {{ 'register' | translate }}
            </button>
        </div>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<button
    mat-fab
    color="primary"
    aria-label="Back to top"
    class="back-to-top"
    [class.show]="smallHeader"
    (click)="scrollToTop()"
>
    <mat-icon>expand_less</mat-icon>
</button>

<ng-template #navItems>
    <a routerLink="/home" routerLinkActive="active">
        <div>
            <mat-icon>home</mat-icon>
            <span>{{ 'pages.home.title' | translate }}</span>
        </div>
    </a>
    <a routerLink="/my" routerLinkActive="active" *ngIf="isLoggedin">
        <div>
            <mat-icon>restaurant_menu</mat-icon>
            <span>{{ 'pages.my_recipes.title' | translate }}</span>
        </div>
    </a>
    <a routerLink="/categories" routerLinkActive="active">
        <div>
            <mat-icon>menu_book</mat-icon>
            <span>{{ 'pages.categories.title' | translate }}</span>
        </div>
    </a>
</ng-template>

<mat-menu #userMenu="matMenu" xPosition="before" class="hide-mobile">
    <div mat-menu-item [disabled]="true"><mat-icon>email</mat-icon> {{ user.user?.email }}</div>
    <button mat-menu-item (click)="showSettingsDialog()">
        <mat-icon>settings</mat-icon> {{ 'settings' | translate }}
    </button>
    <button mat-menu-item [disabled]="translation.loading" [matMenuTriggerFor]="languageMenu">
        <mat-icon>translate</mat-icon> {{ 'language' | translate }}
    </button>
    <a routerLink="/admin" mat-menu-item *ngIf="user.user?.isAdmin">
        <mat-icon>admin_panel_settings</mat-icon> {{ 'pages.admin.area.title' | translate }}
    </a>
    <a routerLink="/logout" mat-menu-item class="fg-warn">
        <mat-icon class="fg-warn">logout</mat-icon> {{ 'logout' | translate }}
    </a>
</mat-menu>

<mat-menu #languageMenu="matMenu" xPosition="before">
    <button
        mat-menu-item
        (click)="translation.use(language.key)"
        *ngFor="let language of translation.languages"
        [disabled]="translation.loading || translation.language === language.key"
    >
        <div class="language-menu-item">
            <img
                src="https://www.countryflags.io/{{ language.flagCode }}/flat/32.png"
                *ngIf="translation.language !== language.key"
            />
            <mat-icon *ngIf="translation.language === language.key">check</mat-icon>
            <span>{{ language.name }}</span>
        </div>
    </button>
</mat-menu>
