@import '../../variables.scss';

header {
  background: $header-background;
  color: $header-foreground;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  > .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  h1,
  .actions {
    transition: padding 0.2s;
    padding: 1rem 0;
  }

  h1 {
    display: inline-block;
    margin: 0;

    img {
      height: 1.5em;
      margin-right: 0.25em;
    }
    img,
    span {
      vertical-align: middle; // TODO: align
    }
  }

  nav.desktop-nav {
    text-align: center;

    a {
      color: inherit;
      text-decoration: none;

      height: 100%;
      width: 8em;
      position: relative;

      font-size: 1.125em;
      display: inline-block;

      div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        > * {
          display: block;
          text-align: center;
          margin: 0 auto;
        }
      }

      &:hover {
        background: lighten($header-background, 5%);

        &::after {
          background: lighten($header-background, 5%);
          border-radius: 0 0 2px 2px;
          height: 3px;
        }
      }

      &.active {
        background: mat-color($primary);

        &::after {
          background: mat-color($primary);
          border-radius: 0 0 3px 3px;
          height: 5px;
        }
      }

      &:hover,
      &.active {
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
        }
      }
    }
  }

  .actions {
    text-align: right;
  }

  .mobile-nav {
    transition: left 0.2s;

    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    z-index: -1;

    &.show {
      left: 0;

      > * {
        left: 0;
      }
    }

    > * {
      position: relative;
      left: -100%;
      transition: background 0.1s, left 0.2s;

      text-align: center;

      &:nth-child(1) {
        transition-delay: 0s, 0s;
      }
      &:nth-child(2) {
        transition-delay: 0s, 0.05s;
      }
      &:nth-child(3) {
        transition-delay: 0s, 0.1s;
      }
      &:nth-child(4) {
        transition-delay: 0s, 0.15s;
      }
      &:nth-child(5) {
        transition-delay: 0s, 0.2s;
      }

      background: lighten($header-background, 10%);
      display: block;
    }

    a {
      color: inherit;
      text-decoration: none;

      transition: background 0.1s, left 0.2s;

      padding: 1em;

      div > * {
        vertical-align: middle;
      }

      mat-icon {
        margin-right: 0.5em;
      }

      &:hover {
        background: lighten($header-background, 15%);
      }

      &.active {
        background: mat-color($primary);

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 1em;
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }

    .spacer {
      height: 3em;
    }

    .account {
      padding: 1em 0;

      .account-mail {
        margin-bottom: 0.25em;
        opacity: 0.7;

        mat-icon,
        span {
          vertical-align: middle;
        }

        mat-icon {
          margin-right: 0.25em;
        }
      }
    }

    > :last-child {
      box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.6);
    }
  }

  &.small {
    h1,
    .actions {
      padding: 0.5rem 0;
    }

    nav.desktop-nav a div span {
      display: none;
    }
  }
}

main {
  background: $background;
  color: $foreground;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);

  padding: 1em 1em;
  margin: 1.5em auto !important;

  border-radius: 0.5em;
}

header > .container,
main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.back-to-top {
  position: fixed;
  right: -5em;
  bottom: 2em;
  z-index: 5;

  opacity: 0;
  transition: opacity 0.2s, right 0.2s;

  &.show {
    right: 2em;
    opacity: 1;
  }
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 10px;
  }

  main {
    margin: 1.5em 0.5em !important;
    width: calc(100% - 1em);
  }
}

@media screen and (max-width: 800px) {
  header .container {
    grid-template-columns: 2fr 4fr 1fr;
  }
}

@media screen and (max-width: $mobile-width) {
  header .container {
    grid-template-columns: 2fr 1fr;
  }

  main {
    margin: 0 !important;
    padding: 1.5em 1em;
    width: 100%;
    border-radius: 0;
  }
}
