<button mat-icon-button (click)="routeHelper.navigateBack()" class="navigate-back-button">
    <mat-icon>arrow_back</mat-icon>
</button>

<app-recipe-detail-image-slider [images]="recipe.images" class="images-container"> </app-recipe-detail-image-slider>

<div class="content-spacer"></div>

<app-recipe-detail-header [recipe]="recipe" (deleteRecipe)="deleteRecipe()"></app-recipe-detail-header>

<app-recipe-detail-section [hideHeader]="true" class="properties">
    <ng-container content>
        <div class="property-total-time" *ngIf="totalTime">
            <mat-icon color="primary" matTooltip="Total time">timer</mat-icon>
            <span class="hide-mobile property-name">Total time:</span>
            <span> ~ {{ totalTime }}<small>m</small> </span>
        </div>

        <div class="property-difficulty" *ngIf="recipe.difficulty !== null">
            <mat-icon color="primary" matTooltip="Difficulty">local_fire_department</mat-icon>
            <span class="hide-mobile property-name">Difficulty:</span>
            <span> {{ recipe.difficulty }} / 5 </span>
        </div>

        <div class="property-portions" *ngIf="recipe.portions !== null">
            <mat-icon color="primary" matTooltip="Portions">flatware</mat-icon>
            <span class="hide-mobile property-name">Portions:</span>
            <span> {{ recipe.portions * portionsMultiplier | amount }} </span>
        </div>
    </ng-container>
</app-recipe-detail-section>

<app-recipe-detail-section class="description" *ngIf="recipe.description">
    <ng-container header>
        <span>Description</span>
    </ng-container>

    <ng-container content>{{ recipe.description }}</ng-container>
</app-recipe-detail-section>

<app-recipe-detail-section class="ingredients">
    <span header>
        <span>Ingredients</span>

        <app-number-input
            [(ngModel)]="portionsMultiplier"
            [min]="0.25"
            [max]="100"
            [step]="0.25"
            [stepFunction]="portionsMultiplierStepFunction"
        ></app-number-input>
    </span>

    <div content>
        <div class="ingredient-group" *ngFor="let groupData of recipe.ingredients">
            <h4 *ngIf="groupData.group">{{ groupData.group }}</h4>

            <div class="ingredient" *ngFor="let ingredient of groupData.items">
                <div class="name">{{ ingredient.name }}</div>
                <div class="amount">
                    {{ getIngredientAmount(ingredient.amount) | amount }}

                    {{ ingredient.unit }}
                </div>
            </div>
        </div>
    </div>
</app-recipe-detail-section>

<app-recipe-detail-section class="preparation" *ngIf="recipe.preparation">
    <ng-container header>
        <span>Preparation</span>
    </ng-container>

    <div content class="preparation-content">
        <div class="preparation-times">
            <span *ngIf="recipe.preparation_time_minutes">
                <mat-icon>timer</mat-icon>
                <span>
                    Preparation time ~
                    {{ recipe.preparation_time_minutes }}<small>m</small>
                </span>
            </span>
            <span *ngIf="recipe.resting_time_minutes">
                <mat-icon>timer</mat-icon>
                <span>
                    Resting time ~
                    {{ recipe.resting_time_minutes }}<small>m</small>
                </span>
            </span>
            <span *ngIf="recipe.cooking_time_minutes">
                <mat-icon>timer</mat-icon>
                <span>
                    Cooking-/Baking time ~
                    {{ recipe.cooking_time_minutes }}<small>m</small>
                </span>
            </span>
        </div>

        <app-recipe-detail-preparation-content
            [contentHtml]="recipe.preparation"
        ></app-recipe-detail-preparation-content>
    </div>
</app-recipe-detail-section>
