<a routerLink="/admin" class="icon-text back-link">
    <mat-icon>arrow_back</mat-icon><span>{{ 'pages.admin.go_back' | translate }}</span>
</a>

<h2 class="icon-text">
    <mat-icon>manage_accounts</mat-icon><span>{{ 'pages.admin.users.title' | translate }}</span>
    <mat-spinner
        *ngIf="tableData.length > 0 && loading"
        color="accent"
        diameter="24"
        class="inline-block"
        style="margin-left: 1em"
    ></mat-spinner>
</h2>

<div class="actions">
    <button mat-raised-button color="accent" (click)="createUser()" [disabled]="loading">
        <mat-icon [inline]="true">person_add</mat-icon> {{ 'pages.admin.users.create_user' | translate }}
    </button>
    <button mat-icon-button (click)="loadUsers()" [disabled]="loading"><mat-icon>refresh</mat-icon></button>
</div>

<div class="search">
    <mat-form-field appearance="outline">
        <mat-label>{{ 'search' | translate }}</mat-label>
        <input
            matInput
            [placeholder]="'pages.admin.users.search_placeholder' | translate"
            [(ngModel)]="search"
            [disabled]="loading"
            (keyup.enter)="applySearch()"
        />
        <button
            mat-button
            matSuffix
            mat-icon-button
            *ngIf="search"
            aria-label="Clear"
            (click)="search = ''; applySearch()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-icon-button (click)="applySearch()" [disabled]="loading || search.length === 0">
        <mat-icon>search</mat-icon>
    </button>
</div>

<div class="table_container mat-elevation-z8">
    <table
        mat-table
        [dataSource]="tableData"
        matSort
        matSortDisableClear
        matSortActive="id"
        matSortDirection="asc"
        [class.loading]="loading"
    >
        <!-- Column definitions -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'id' | translate }}</th>
            <td mat-cell *matCellDef="let user">{{ user.id }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.email' | translate }}</th>
            <td mat-cell *matCellDef="let user">
                <ng-container *ngIf="editUserId !== user.id">
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                </ng-container>
                <ng-container *ngIf="editUserId === user.id">
                    <input
                        class="edit-user-input"
                        type="email"
                        [formControl]="editUserValues.email"
                        [placeholder]="'user.email' | translate"
                    />
                </ng-container>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.name' | translate }}</th>
            <td mat-cell *matCellDef="let user">
                <ng-container *ngIf="editUserId !== user.id">
                    {{ user.name }}
                </ng-container>
                <ng-container *ngIf="editUserId === user.id">
                    <input
                        class="edit-user-input"
                        type="text"
                        [formControl]="editUserValues.name"
                        [placeholder]="'user.name' | translate"
                    />
                </ng-container>
            </td>
        </ng-container>
        <ng-container matColumnDef="emailVerified">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
                {{ 'pages.admin.users.email_verified' | translate }}
            </th>
            <td mat-cell *matCellDef="let user" style="text-align: center">
                <mat-checkbox
                    [checked]="user.emailVerified"
                    color="accent"
                    [disabled]="loading || isCurrentUser(user.id) || editUserId === user.id"
                    (click)="$event.preventDefault(); toggleEmailVerified(user)"
                ></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="isAdmin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 6em">{{ 'admin' | translate }}</th>
            <td mat-cell *matCellDef="let user">
                <mat-checkbox
                    [checked]="user.isAdmin"
                    color="accent"
                    [disabled]="loading || isCurrentUser(user.id) || editUserId === user.id"
                    (click)="$event.preventDefault(); toggleAdmin(user)"
                    style="margin-left: 0.75em"
                ></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="lastUpdated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'pages.admin.users.last_modified' | translate }}
            </th>
            <td mat-cell *matCellDef="let user" [matTooltip]="(user.lastUpdated * 1000 | localizedDate: true) || ''">
                {{ user.lastUpdated * 1000 | localizedDate }}
            </td>
        </ng-container>
        <ng-container matColumnDef="admin">
            <th mat-header-cell *matHeaderCellDef style="width: 4em"></th>
            <td mat-cell *matCellDef="let user" style="text-align: center">
                <ng-container *ngIf="editUserId !== user.id">
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="adminMenu"
                        [matMenuTriggerData]="{ user: user }"
                        [disabled]="loading || isCurrentUser(user.id)"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="editUserId === user.id">
                    <button
                        mat-icon-button
                        [disabled]="loading || !isEditUserValid"
                        color="accent"
                        (click)="editUser()"
                    >
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="loading" (click)="setEditUser(null)" color="warn">
                        <mat-icon>clear</mat-icon>
                    </button>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="paginator">
            <td mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length">
                <mat-paginator
                    [length]="users?.total_items"
                    [pageSizeOptions]="[10, 25, 100]"
                    [disabled]="loading"
                ></mat-paginator>
            </td>
        </ng-container>

        <!-- No rows -->
        <tr class="mat-row" *matNoDataRow>
            <td
                class="mat-cell"
                style="text-align: center"
                [colSpan]="displayedColumns.length"
                *ngIf="!loading && !error"
            >
                {{ 'messages.users.no_users_found' | translate }}
            </td>
            <td class="mat-cell" [colSpan]="displayedColumns.length" *ngIf="loading">
                <mat-spinner diameter="28" style="margin: 0 auto"></mat-spinner>
            </td>
            <td class="mat-cell warn" style="text-align: center" [colSpan]="displayedColumns.length" *ngIf="error">
                <span class="icon-text">
                    <mat-icon color="warn">error</mat-icon>
                    <span>{{ 'messages.users.error_loading_users' | translate }}</span>
                </span>
            </td>
        </tr>

        <!-- Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
    </table>
</div>

<mat-menu #adminMenu="matMenu">
    <ng-template matMenuContent let-user="user">
        <button mat-menu-item (click)="setEditUser(user)" [disabled]="isCurrentUser(user.id)">
            <mat-icon>edit</mat-icon>
            <span>{{ 'pages.admin.users.edit_user' | translate }}</span>
        </button>
        <button
            mat-menu-item
            [matMenuTriggerFor]="adminPasswordMenu"
            [matMenuTriggerData]="{ id: user.id }"
            [disabled]="isCurrentUser(user.id)"
        >
            <mat-icon>password</mat-icon>
            <span>{{ 'user.password' | translate }}</span>
        </button>
        <a
            routerLink="/admin/recipes"
            [queryParams]="{ userId: user.id }"
            mat-menu-item
            [disabled]="isCurrentUser(user.id)"
        >
            <mat-icon>visibility</mat-icon>
            <span>{{ 'pages.admin.users.view_user_recipes' | translate }}</span>
        </a>
        <button mat-menu-item (click)="deleteUser(user.id)" [disabled]="isCurrentUser(user.id)">
            <mat-icon [color]="isCurrentUser(user.id) ? '' : 'warn'">delete</mat-icon>
            <span [class]="isCurrentUser(user.id) ? '' : 'fg-warn'">{{
                'pages.admin.users.delete_user' | translate
            }}</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #adminPasswordMenu="matMenu">
    <ng-template matMenuContent let-id="id">
        <button mat-menu-item (click)="editPassword(id)">
            <mat-icon>edit</mat-icon>
            <span>{{ 'pages.admin.users.edit_password' | translate }}</span>
        </button>
        <button mat-menu-item (click)="resetPassword(id)">
            <mat-icon>settings_backup_restore</mat-icon>
            <span>{{ 'pages.admin.users.reset_password' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>
