.back-link {
  margin-bottom: 0.5em;
  display: block;
}

.actions {
  margin-bottom: 1em;

  > *:not(:last-child) {
    margin-right: 1em;
  }
}

.search {
  > * {
    display: inline-block;
    vertical-align: text-top;
  }

  mat-form-field {
    margin-right: 1em;
  }

  > button {
    position: relative;
    top: 0.75em;
  }
}

.table_container {
  max-height: 72vh;
  overflow: auto;

  table {
    width: 100%;
    min-width: 800px;

    .mat-footer-row > td {
      border-top: 1px solid rgba(255, 255, 255, 0.12);
    }

    &.loading {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
