<div class="actions" *ngIf="editRecipe">
    <a mat-stroked-button [routerLink]="recipeURL"><mat-icon>visibility</mat-icon> View recipe</a>
    <button mat-stroked-button (click)="deleteRecipe()" color="warn"><mat-icon>delete</mat-icon> Delete recipe</button>
</div>

<mat-vertical-stepper #stepper linear="true">
    <mat-step [completed]="isEdit">
        <ng-template matStepLabel>Edit information</ng-template>
        <cb-edit-recipe-information
            [editRecipe]="editRecipe"
            (saved)="informationSaved($event)"
        ></cb-edit-recipe-information>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Edit images</ng-template>

        <cb-edit-recipe-images></cb-edit-recipe-images>
    </mat-step>
</mat-vertical-stepper>
