<div class="actions" *ngIf="editRecipe">
    <p *ngIf="editRecipe && user.user?.id !== editRecipe.user.id" class="owner">
        <strong>Owner:</strong> {{ editRecipe.user.name }} (ID: {{ editRecipe.user.id }})
    </p>
    <a mat-stroked-button [routerLink]="disabled ? null : recipeURL" [disabled]="disabled"
        ><mat-icon>visibility</mat-icon> View recipe</a
    >
    <button mat-stroked-button (click)="deleteRecipe()" color="warn" [disabled]="disabled">
        <mat-icon>delete</mat-icon> Delete recipe
    </button>
</div>

<mat-vertical-stepper #stepper linear="true">
    <mat-step [completed]="isEdit">
        <ng-template matStepLabel>Edit information</ng-template>
        <cb-edit-recipe-information
            [editRecipe]="editRecipe"
            (saved)="informationSaved($event)"
            [disabled]="disabled"
        ></cb-edit-recipe-information>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Edit images</ng-template>

        <cb-edit-recipe-images
            [recipeId]="editRecipe.id"
            [disabled]="disabled"
            *ngIf="editRecipe"
        ></cb-edit-recipe-images>
    </mat-step>
</mat-vertical-stepper>
