@import 'variables.scss';

.name {
  height: 1.5em;
  margin: 0.5em 0;
  width: 16em;
}

.author {
  width: 12em;
}

.information cb-skeleton {
  display: inline-block;

  width: 8em;
  margin-right: 1em;
  margin-bottom: 0.75em;
}

.actions cb-skeleton {
  display: inline-block;
  margin-right: 0.75em;
  margin-bottom: 0.5em;
}

.image-slider,
.ingredients {
  display: inline-block;
  vertical-align: top;
}

.image-slider {
  width: calc(60% - 1em);
  margin-right: 1em;

  .image {
    height: 25em;
    margin-bottom: 0.5em;
  }

  .preview {
    display: inline-block;

    height: 4em;
    width: 4em;
    margin-right: 0.5em;
  }
}

.ingredients {
  width: 40%;

  .title {
    width: 75%;
    height: 2em;
  }

  .ingredient {
    height: 2.5em;
    margin-bottom: 2.5em;
  }
}

.description .title,
.preparation .title {
  width: 16em;
  height: 1.5em;
  margin-bottom: 1.5em;
}

.preparation {
  .information cb-skeleton {
    display: inline-block;

    width: 16em;
    margin-right: 1em;
  }
}

@media screen and (max-width: 800px) {
  .image-slider,
  .ingredients {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: $mobile-width) {
  .image-slider .image {
    height: 15em;
  }
}
