@use '~@angular/material' as mat;
@import 'variables.scss';

:host {
  text-align: center;

  h1 {
    small {
      font-size: 0.5em;
    }
  }

  input {
    font-size: 1.25em;
    text-align: center;

    display: block;
    margin: 0 auto 1em auto;
    padding: 0.5em;

    border-radius: 0.25em;
    border: 1px solid adjustColor($foreground, 75%);

    transition: border 0.2s;

    &:focus {
      outline: none;
      border: 1px solid mat.get-color-from-palette($primary);
    }
  }

  mat-spinner {
    margin: 0 auto;
  }

  p {
    margin: 1em 0 0 0;

    a {
      cursor: pointer;
      text-decoration: underline;

      &.disabled {
        pointer-events: none;
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
