<h1 mat-dialog-title>
    <mat-icon>mark_email_read</mat-icon><br />{{ 'login_register.verify_email' | translate }}<br /><small>{{
        email
    }}</small>
</h1>

<div mat-dialog-content>
    <input
        type="text"
        [(ngModel)]="code"
        maxlength="5"
        [placeholder]="'login_register.code' | translate"
        [disabled]="loading"
    />
    <mat-spinner diameter="32" color="accent" *ngIf="loading"></mat-spinner>
    <p *ngIf="error" class="fg-warn">{{ error | translate }}</p>
    <p>
        {{ 'login_register.email_not_received' | translate }}
        <a (click)="resend()" [class.disabled]="loading">{{ 'login_register.resend' | translate }}</a>
    </p>
</div>
