@use 'sass:map';
@use '@angular/material' as mat;
@use './variables' as *;

@include mat.core();

// initialize theme

@mixin -html-styles($variables) {
  $app-theme: map.get($variables, 'theme');

  background: mat.get-color-from-palette(map.get($app-theme, 'background'), 'background');
  color: mat.get-color-from-palette(map.get($app-theme, 'foreground'), 'text');

  a {
    color: mat.get-color-from-palette(map.get($variables, 'link-palette'));
  }
}

// used mixins can be found here: https://github.com/angular/components/blob/main/src/material/core/theming/_all-theme.scss

@each $theme, $variables in $themes {
  $app-theme: map.get($variables, 'theme');

  @if ($theme == $default-theme) {
    html {
      @include mat.core-theme($app-theme);
      @include mat.button-theme($app-theme);
      @include mat.form-field-theme($app-theme);
      @include mat.input-theme($app-theme);
      @include mat.bottom-sheet-theme($app-theme);
      @include mat.icon-theme($app-theme);
      @include mat.progress-spinner-theme($app-theme);
      @include mat.toolbar-theme($app-theme);
      @include mat.list-theme($app-theme);

      @include -html-styles($variables);
    }
  } @else {
    html.theme-#{$theme} {
      @include mat.core-color($app-theme);
      @include mat.button-color($app-theme);
      @include mat.form-field-color($app-theme);
      @include mat.input-color($app-theme);
      @include mat.bottom-sheet-color($app-theme);
      @include mat.icon-color($app-theme);
      @include mat.progress-spinner-color($app-theme);
      @include mat.toolbar-color($app-theme);
      @include mat.list-color($app-theme);

      @include -html-styles($variables);
    }
  }
}
