mat-form-field,
mat-slide-toggle {
  display: block;
  width: 20em;
  max-width: 100%;
}

mat-slide-toggle {
  margin-bottom: 1em;
}

.language-item-container {
  cb-image,
  span {
    vertical-align: middle;
    display: inline-block;
  }

  cb-image {
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
  }
}

.error {
  margin: 1em 0;
}
