@use 'mixins';

.ingredient-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  mat-form-field {
    width: 100%;
  }
}

@include mixins.desktop() {
  .ingredient-container {
    flex-direction: row;
    align-items: start;

    mat-form-field {
      &:nth-of-type(1) {
        width: 15em;
      }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: 9em;
      }
    }

    .ingredient-actions {
      height: 3.5em;
      display: flex;
      align-items: center;
    }
  }
}
