<span class="results" *ngIf="results !== null"> {{ results }} result{{ results !== 1 ? 's' : '' }} </span>
<ngx-skeleton-loader *ngIf="results === null" style="width: 6em" class="inline-block"></ngx-skeleton-loader>

<div class="sort">
    <mat-form-field appearance="outline">
        <mat-label>Sort by</mat-label>
        <mat-select [value]="sort" (valueChange)="sortChange($event)" [disabled]="loading">
            <mat-option value="publishDate">Publish date</mat-option>
            <mat-option value="name">Name</mat-option>
            <mat-option value="category">Category</mat-option>
            <mat-option value="public">Visibility</mat-option>
            <mat-option value="difficulty">Difficulty</mat-option>
        </mat-select>
        <mat-icon matPrefix>sort</mat-icon>
    </mat-form-field>

    <button mat-icon-button (click)="toggleSortDirection()" [disabled]="loading">
        <mat-icon>{{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
    </button>
</div>

<ng-container *ngIf="recipes">
    <cb-recipe-item *ngFor="let recipe of recipes.items" [recipe]="recipe" [disabled]="loading"></cb-recipe-item>

    <p class="icon-text" *ngIf="recipes.total_items === 0"><mat-icon>info</mat-icon><span>No recipes found</span></p>

    <cb-paginator
        [(page)]="page"
        [pages]="recipes.total_pages"
        [disabled]="loading"
        *ngIf="recipes.total_items > 0"
    ></cb-paginator>
</ng-container>

<ng-container *ngIf="!recipes && !error">
    <cb-skeleton-recipe-item></cb-skeleton-recipe-item>
    <cb-skeleton-recipe-item></cb-skeleton-recipe-item>
    <cb-skeleton-recipe-item></cb-skeleton-recipe-item>
    <cb-skeleton-recipe-item></cb-skeleton-recipe-item>
    <cb-skeleton-recipe-item></cb-skeleton-recipe-item>
</ng-container>

<p class="icon-text fg-warn" *ngIf="error"><mat-icon>error</mat-icon><span>Error loading recipes</span></p>
