@import 'variables.scss';

.results {
  display: block;
  margin-bottom: 1em;
  opacity: 0.5;
}

.actions {
  position: relative;
  margin-bottom: 1em;

  .sort {
    display: inline-block;

    mat-form-field {
      margin-right: 0.5em;

      ::ng-deep .mat-form-field-wrapper {
        margin-bottom: -1.25em;
      }
    }

    button {
      vertical-align: super;
    }
  }

  .display {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.recipes.display-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;

  min-height: 0;
  min-width: 0;

  cb-recipe-item {
    min-width: 0;
  }
}

mat-spinner {
  margin: 1em auto;
}

cb-recipe-item,
cb-skeleton-recipe-item {
  margin-bottom: 1em;
  display: block;

  &.compact {
    margin-bottom: 0.5em;
  }
}

cb-paginator {
  display: block;
  text-align: center;
  margin: 2em 0 1em 0;
}

@media screen and (max-width: $mobile-width) {
  .recipes.display-grid {
    display: block;
  }
}
