.results {
  display: block;
  margin-bottom: 1em;
  opacity: 0.5;
}

.sort {
  mat-form-field {
    margin-right: 0.5em;
  }

  button {
    vertical-align: super;
  }
}

mat-spinner {
  margin: 1em auto;
}

cb-recipe-item,
cb-skeleton-recipe-item {
  margin-bottom: 1em;
  display: block;
}

cb-paginator {
  display: block;
  text-align: center;
  margin: 2em 0 1em 0;
}
