@use 'sass:map';
@use 'variables' as *;
@use 'theme';

$imageWidth: 15em;

.container {
  padding: 0 $layout-padding;
}

h2 {
  display: flex;
  align-items: center;
  gap: 0.5em;

  small {
    opacity: 0.5;
  }
}

app-error-display {
  margin: 2em 0;
}

.trash-list {
  overflow: auto;
  margin-bottom: 2em;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      .center {
        text-align: center;
      }

      th {
        text-align: left;
        white-space: nowrap;
        font-weight: lighter;

        &:first-of-type {
          width: $imageWidth;
        }
      }

      td {
        &:first-of-type {
          text-align: center;

          img {
            max-width: $imageWidth;
            max-height: 7em;
            border-radius: 1em;
            vertical-align: middle;
          }
        }

        mat-spinner {
          margin: 1em auto;
        }
      }

      th,
      td {
        padding: 0.5em;
      }
    }

    tbody tr:nth-of-type(odd) td {
      @include theme.apply() using ($variables) {
        background: theme.adjust-color($variables, map.get($variables, 'background'), -5%);
      }

      &:first-of-type {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
      }

      &:last-of-type {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
      }
    }
  }
}

.load-more-button {
  display: block;
  margin: 0 auto;

  div {
    display: flex;
    align-items: center;
  }

  mat-spinner {
    margin-right: 0.75em;
  }

  mat-icon {
    margin-right: 0.25em;
  }
}
