<h2 class="icon-text">
    <mat-icon>search</mat-icon><span>{{ 'pages.search.search_recipes' | translate }}</span>
</h2>

<mat-form-field appearance="outline" color="primary" class="search-field">
    <mat-label>{{ 'search' | translate }}</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [(ngModel)]="searchInput" (keyup.enter)="doSearch()" [disabled]="loading" />
    <button matSuffix mat-icon-button (click)="doSearch()" [disabled]="loading" color="accent">
        <mat-icon>arrow_forward</mat-icon>
    </button>
</mat-form-field>

<cb-recipe-list
    [reloadFunction]="reload"
    [filterLanguage]="true"
    sort="name"
    #recipeList
    *ngIf="search"
></cb-recipe-list>
