@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme';
@use 'mixins';

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  margin-bottom: 2em;

  > * {
    width: 100%;
  }

  .search-field {
    [matSuffix] {
      margin-right: 0.125em;
    }
  }
}

.table-container {
  position: relative;
  border-radius: 0.25em;
  overflow: hidden;

  @include mat.elevation(2);

  .loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    @include theme.apply() using ($variables) {
      background: rgba(map.get($variables, 'background'), 0.5);
    }
  }

  .table-wrapper {
    overflow: auto;

    table {
      width: 100%;

      .align-center {
        text-align: center;
      }

      .no-padding {
        padding: 0;
      }

      .mat-mdc-no-data-row {
        td {
          padding: 1em;
        }
      }
    }
  }
}

@include mixins.desktop() {
  .actions {
    flex-direction: row;
    gap: 2em;

    > * {
      width: fit-content;
    }
  }
}
