@use 'sass:map';
@use 'theme';
@use 'mixins';
@use 'variables' as *;
@use '@angular/material' as mat;

:host {
  display: block;
  padding: 0 $layout-padding;
}

h2 {
  margin-top: 0;
  padding-left: 0.25em;

  display: flex;
  align-items: center;
  gap: 0.25em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.settings-nav {
  margin: 0 (-$layout-padding) 2em;

  mat-nav-list {
    padding: 0;

    [mat-list-item] {
      border-radius: 0.25em;

      &.current {
        @include mat.elevation(2);

        @include theme.apply() using ($variables) {
          background: rgba(map.get($variables, 'primary'), 20%);

          > mat-icon {
            color: map.get($variables, 'primary');
          }
        }
      }

      span {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }

    .divider {
      margin: 1.5em 0;
      height: 1px;

      @include theme.apply() using ($variables) {
        background: rgba(map.get($variables, 'foreground'), 10%);
      }
    }
  }
}

.settings {
  flex: 1;
}

@include mixins.desktop() {
  .container {
    flex-direction: row;
    gap: 2em;
  }

  .settings-nav {
    position: sticky;
    top: 1em;
    height: fit-content;

    margin: 0;
    width: 15em;

    mat-nav-list {
      border-radius: 0.25em;
    }
  }
}
