@use 'sass:map';
@use 'variables' as *;
@use 'theme';

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  margin: 0 $layout-padding;
  margin-bottom: 1em;

  font-size: 1.7em;
  text-align: center;

  @include theme.apply() using ($variables) {
    border: 1px dashed rgba(map.get($variables, 'foreground'), 0.25);
    border-left: none;
    border-right: none;
  }

  > mat-icon {
    flex-shrink: 0;
  }

  > span,
  app-skeleton {
    margin: 0.5em 0;
  }

  > span {
    line-height: 1;
  }

  app-skeleton {
    height: 1em;
  }
}
