<a routerLink="/categories" *ngIf="category" class="icon-text back-link">
    <mat-icon>arrow_back</mat-icon><span>Go back to categories</span>
</a>
<h2 class="icon-text">
    <mat-icon>menu_book</mat-icon>

    <span *ngIf="isOverview">Browse categories</span>
    <span *ngIf="!isOverview">{{ category }}</span>
</h2>

<ng-container *ngIf="isOverview">
    <div class="categories">
        <a [routerLink]="getCategoryURL(category.name)" class="category" *ngFor="let category of categories">
            <cb-image [src]="getThumbnailUrl(category.thumbnailRecipeId)"></cb-image>
            <span>
                {{ category.name }}
            </span>
        </a>

        <ng-container *ngIf="loadingCategories">
            <cb-skeleton></cb-skeleton>
            <cb-skeleton></cb-skeleton>
            <cb-skeleton></cb-skeleton>
            <cb-skeleton></cb-skeleton>
        </ng-container>
    </div>

    <p class="icon-text fg-warn" *ngIf="error"><mat-icon>error</mat-icon><span>Error loading categories</span></p>
    <p class="icon-text" *ngIf="categories && categories.length === 0">
        <mat-icon>info</mat-icon><span>No categories found</span>
    </p>
</ng-container>

<ng-container *ngIf="!isOverview">
    <cb-recipe-list [reloadFunction]="reload" sort="name" *ngIf="category"></cb-recipe-list>
</ng-container>
