<div class="ingredient-group" *ngFor="let groupData of ingredients">
    <h4 *ngIf="groupData.group">{{ groupData.group }}</h4>

    <div class="ingredient" *ngFor="let ingredient of groupData.items">
        <div class="name">{{ ingredient.name }}</div>
        <div class="amount">
            {{ getIngredientAmount(ingredient.amount) | amount }}

            {{ ingredient.unit }}
        </div>
    </div>
</div>

<div class="ingredient-group" *ngIf="!ingredients">
    <div class="ingredient" *appRepeat="7">
        <app-skeleton></app-skeleton>
    </div>
</div>

