ngx-skeleton-loader {
  display: block;
}

.name {
  height: 2em;
}

.image-slider,
.ingredients {
  display: inline-block;
  vertical-align: top;
}

.image-slider {
  width: calc(60% - 1em);
}

.ingredients {
  width: 40%;
}

@media screen and (max-width: 800px) {
  .image-slider,
  .ingredients {
    display: block;
    width: 100%;
  }
}
