<ngx-skeleton-loader class="name" [theme]="{ width: '16em' }"></ngx-skeleton-loader>
<ngx-skeleton-loader class="author" [theme]="{ width: '12em' }"></ngx-skeleton-loader>

<div class="information">
    <ngx-skeleton-loader [theme]="{ width: '8em', marginRight: '1em' }" [count]="4"></ngx-skeleton-loader>
</div>

<ngx-skeleton-loader [count]="2" appearance="circle"></ngx-skeleton-loader>

<div class="image-slider">
    <ngx-skeleton-loader [theme]="{ height: '25em' }"></ngx-skeleton-loader>

    <ngx-skeleton-loader
        [theme]="{ height: '4em', width: '4em', marginRight: '0.5em' }"
        [count]="4"
    ></ngx-skeleton-loader>
</div>

<div class="ingredients">
    <ngx-skeleton-loader [theme]="{ width: '75%', height: '2em' }"></ngx-skeleton-loader>

    <ngx-skeleton-loader [theme]="{ height: '2em', marginBottom: '1.5em' }" [count]="4"></ngx-skeleton-loader>
</div>

<div class="description">
    <ngx-skeleton-loader [theme]="{ width: '16em' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader></ngx-skeleton-loader>
</div>

<div class="preparation">
    <ngx-skeleton-loader [theme]="{ width: '16em' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '16em', marginRight: '1em' }" [count]="3"></ngx-skeleton-loader>

    <ngx-skeleton-loader [count]="5"></ngx-skeleton-loader>
</div>
