<cb-skeleton class="name"></cb-skeleton>
<cb-skeleton class="author"></cb-skeleton>

<div class="information">
    <cb-skeleton chip></cb-skeleton>
    <cb-skeleton chip></cb-skeleton>
    <cb-skeleton chip></cb-skeleton>
    <cb-skeleton chip></cb-skeleton>
</div>

<div class="actions">
    <cb-skeleton circle></cb-skeleton>
    <cb-skeleton circle></cb-skeleton>
</div>

<div class="image-slider">
    <cb-skeleton class="image"></cb-skeleton>

    <cb-skeleton class="preview"></cb-skeleton>
    <cb-skeleton class="preview"></cb-skeleton>
    <cb-skeleton class="preview"></cb-skeleton>
    <cb-skeleton class="preview"></cb-skeleton>
</div>

<div class="ingredients">
    <cb-skeleton class="title"></cb-skeleton>

    <cb-skeleton class="ingredient"></cb-skeleton>
    <cb-skeleton class="ingredient"></cb-skeleton>
    <cb-skeleton class="ingredient"></cb-skeleton>
    <cb-skeleton class="ingredient"></cb-skeleton>
</div>

<div class="description">
    <cb-skeleton class="title"></cb-skeleton>
    <cb-skeleton></cb-skeleton>
</div>

<div class="preparation">
    <cb-skeleton class="title"></cb-skeleton>

    <div class="information">
        <cb-skeleton chip></cb-skeleton>
        <cb-skeleton chip></cb-skeleton>
        <cb-skeleton chip></cb-skeleton>
    </div>

    <cb-skeleton></cb-skeleton>
    <cb-skeleton></cb-skeleton>
    <cb-skeleton></cb-skeleton>
    <cb-skeleton></cb-skeleton>
    <cb-skeleton style="width: 80%"></cb-skeleton>
</div>
