<ng-container *ngIf="{ isLoading: isLoading$ | async, error: error$ | async, valid: formValid$ | async } as vm">
    <form [formGroup]="signUpForm" (submit)="doSignUp()">
        <img src="/assets/images/cookbook.svg" alt="Cookbook Logo" />
        <h1>Cookbook</h1>

        <mat-form-field appearance="outline" color="accent">
            <mat-icon matPrefix>person</mat-icon>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="name?.getError('serverError') as serverError">
                {{ serverError }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-icon matPrefix>email</mat-icon>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error *ngIf="email?.getError('serverError') as serverError">
                {{ serverError }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-icon matPrefix>key</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="password?.getError('serverError') as serverError">
                {{ serverError }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-icon matPrefix>key</mat-icon>
            <mat-label>Password confirmation</mat-label>
            <input matInput type="password" formControlName="password_confirmation" />
        </mat-form-field>

        <app-hcaptcha *ngIf="hcaptchaEnabled" (verified)="onCaptchaVerified($event)"></app-hcaptcha>

        <button mat-raised-button color="accent" type="submit" [disabled]="vm.isLoading || !vm.valid">
            <mat-icon *ngIf="!vm.isLoading">person_add</mat-icon>
            <ng-container *ngIf="!vm.isLoading"> Sign up</ng-container>

            <mat-spinner
                [diameter]="24"
                color="accent"
                class="sign-up-button-loading-spinner"
                *ngIf="vm.isLoading"
            ></mat-spinner>
        </button>

        <p class="error mat-elevation-z1" *ngIf="vm.error">
            <mat-icon>error</mat-icon>
            <span>{{ vm.error }}</span>
        </p>
    </form>
</ng-container>
