@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme';

:host {
  padding: 0.25em 0.75em;
  border-radius: 0.5em;

  height: fit-content;

  @include mat.elevation(4);
}

.summary {
  display: flex;
  align-items: center;
  gap: 0.75em;

  .current-indicator {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;

    flex-shrink: 0;

    @include mat.elevation(2);
  }

  .created-at {
    flex: 1;

    label {
      display: block;
      font-size: 0.75em;
      opacity: 0.5;
    }
  }

  @include theme.apply() using ($variables) {
    .current-indicator {
      background: rgba(map.get($variables, 'foreground'), 0.2);

      &.is-current {
        box-shadow: 0 0 0 0.25em rgba(map.get($variables, 'primary'), 0.2);

        background: map.get($variables, 'primary');
      }
    }
  }
}

.details {
  table {
    border-spacing: 0.75em 0.5em;

    tbody {
      tr {
        td:first-of-type {
          font-weight: 500;
        }
      }
    }
  }
}
