@use 'sass:map';
@use 'theme';

:host {
  width: 100%;
  height: 1.25em;

  border-radius: 0.25rem;

  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  transform: translate3d(0, 0, 0);
  will-change: transform;

  &:not(.inline) {
    display: block;
    margin-bottom: 1rem;
  }

  &.inline {
    display: inline-block;
  }

  &.chip {
    border-radius: 16px;
    height: 2em;
  }

  &:after,
  &:before {
    box-sizing: border-box;
  }

  &:before {
    animation: skeleton-progress 2s ease-in-out infinite;
    background-size: 200px 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    content: '';
  }

  @include theme.apply() using ($variables) {
    background: theme.adjust-color($variables, map.get($variables, 'background'), -5%) no-repeat;

    &:before {
      background-image: linear-gradient(
        90deg,
        rgba(map.get($variables, 'background'), 0),
        rgba(map.get($variables, 'background'), 0.6),
        rgba(map.get($variables, 'background'), 0)
      );
    }
  }
}

@keyframes skeleton-progress {
  0% {
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    transform: translate3d(calc(200px + 100vw), 0, 0);
  }
}
