<div class="image-slider" *ngIf="recipeImagesURLs">
    <div class="image">
        <ng-container *ngFor="let recipeImage of recipeImagesURLs; let i = index">
            <cb-image [src]="recipeImage" alt="Recipe image" *ngIf="i === currentRecipeImageNumber"></cb-image>
        </ng-container>

        <button
            mat-mini-fab
            class="slider-navigation"
            color="accent"
            [disabled]="currentRecipeImageNumber === 0"
            (click)="currentRecipeImageNumber = currentRecipeImageNumber - 1"
        >
            <mat-icon>navigate_before</mat-icon>
        </button>
        <button
            mat-mini-fab
            class="slider-navigation"
            color="accent"
            [disabled]="recipeImagesURLs.length === 0 || currentRecipeImageNumber + 1 === recipeImagesURLs.length"
            (click)="currentRecipeImageNumber = currentRecipeImageNumber + 1"
        >
            <mat-icon>navigate_next</mat-icon>
        </button>

        <span class="counter">
            <mat-icon [inline]="true">photo_camera</mat-icon>
            {{ currentRecipeImageNumber + 1 }}/{{ recipeImagesURLs.length > 0 ? recipeImagesURLs.length : 1 }}
        </span>
    </div>

    <div class="preview">
        <div
            class="preview-image"
            (click)="currentRecipeImageNumber = index"
            [class.active]="currentRecipeImageNumber === index"
            *ngFor="let url of recipeImageThumbnailsURLs; let index = index"
        >
            <div class="image">
                <cb-image [src]="url" alt="Recipe image preview"></cb-image>
            </div>
        </div>
    </div>
</div>
