@use 'theme/init';
@use 'mixins';
@use 'variables' as *;

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
  font-weight: normal;
}

.custom-dialog mat-dialog-container {
  background: transparent;
  box-shadow: none;
}

a[disabled] {
  pointer-events: none !important;
}

[fadeIn] {
  animation: fadeInAnimation ease 1s;
}

[cdkDragHandle] {
  cursor: grab;
}

.cdk-drop-list-dragging {
  cursor: grabbing;

  > *:not(.cdk-drag-placeholder):not(.cdk-drag-preview) {
    transition: transform $transition-time;
  }
}

@include mixins.mobile() {
  .hide-mobile {
    display: none !important;
  }
}

@include mixins.desktop() {
  .hide-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  mat-paginator {
    padding: 1em 0;
  }
}

@media print {
  html {
    background: transparent !important;
  }

  app-root {
    color: black !important;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
