@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import 'variables.scss';

@include mat.core();

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: fit-content;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  background: $body-background;

  overflow-y: scroll;
}

a,
.link {
  color: $link;
}

h1,
h2,
h3,
h4 {
  font-weight: normal !important;

  > mat-icon,
  > span {
    vertical-align: middle;
  }

  > mat-icon {
    margin-right: 0.5em;
  }
}

strong {
  font-weight: 500;
}

.cdk-global-scrollblock {
  overflow-y: unset;
}

.mat-snack-bar-container.action-warn .mat-simple-snackbar-action {
  color: mat.get-color-from-palette($warn) !important;
}

.fg-primary {
  color: mat.get-color-from-palette($primary) !important;
}
.bg-primary {
  background: mat.get-color-from-palette($primary) !important;
}
.fg-accent {
  color: mat.get-color-from-palette($accent) !important;
}
.bg-accent {
  background: mat.get-color-from-palette($accent) !important;
}
.fg-warn {
  color: mat.get-color-from-palette($warn) !important;
}
.bg-warn {
  background: mat.get-color-from-palette($warn) !important;
}

.fg-whatsapp {
  color: #25d366 !important;
}
.fg-telegram {
  color: #0088cc !important;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.inline-block {
  display: inline-block !important;
}

.icon-text {
  > * {
    vertical-align: middle;
    display: inline-block;
  }

  mat-icon {
    margin-right: 0.25em;
  }
}

@media screen and (min-width: $desktop-width) {
  .hide-desktop {
    display: none !important;
  }
}
@media screen and (max-width: $mobile-width) {
  .hide-mobile {
    display: none !important;
  }
}

@media print {
  body {
    background: transparent;
  }
}
