// layout auth

$layout-auth-mobile-breakpoint: 600;

// layout default

$navbar-height: 3.5rem;
$navbar-desktop-width: 5.25rem;

$mobile-breakpoint: 959;
$layout-padding: 1rem;

$main-space-bottom: 2em;
$desktop-content-width: 1080px;

$transition-time: 0.2s;
