@use '~@angular/material' as mat;
@import '~@angular/material/theming';

// for color info see: https://material.io/design/color/

$primary: mat.define-palette(mat.$brown-palette, 600);
$accent: mat.define-palette(mat.$teal-palette, 400);
$warn: mat.define-palette(mat.$red-palette);

$link: #1693ff;

$header-background: #212121;
$header-foreground: #fff;

$body-background: #d4d4d4;

$background: #ffffff;
$foreground: #000000;

$mobile-width: 700px;
$desktop-width: 700.1px;

// adjusts light colors to dark, darker colors to light
@function adjustColor($color, $amount) {
  @if (lightness($color) >= 50%) {
    // light color -> make darker
    @return darken($color, $amount);
  } @else {
    // dark color -> make lighter
    @return lighten($color, $amount);
  }
}
