@use 'sass:map';
@use 'theme';
@use 'variables' as *;

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 350px;
  padding: 4em;

  h1 {
    margin: 0;
    margin-bottom: 2em;
  }

  mat-form-field {
    width: 100%;

    [matPrefix] {
      margin-right: 0.5em;
    }
  }

  button {
    margin-top: 1em;

    width: 100%;
    padding: 1.5em 0;

    .reset-button-loading-spinner {
      margin: 0.5em auto;
    }
  }

  .error {
    box-sizing: border-box;

    margin: 0;
    margin-top: 1.5em;

    width: 100%;
    padding: 0.5em;

    border-radius: 5px;

    @include theme.apply() using ($variables) {
      background: map.get($variables, 'warn');
      color: map.get($variables, 'warn-text');
    }

    display: flex;
    gap: 0.75em;
    align-items: center;

    span {
      flex: 1;
    }
  }
}

@media screen and (max-width: #{$layout-auth-mobile-breakpoint}px) {
  :host,
  form {
    width: 100%;
  }

  form {
    box-sizing: border-box;

    box-shadow: none;
    padding: 2em;
  }
}
